{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
      <a href="{% url 'home' %}">Home</a>
      &rsaquo; {{intro_breadcrumb}}
  </div>
{% endblock %}

{% block content %}

  <!-- Contents -->
  <div class="container body-content">    
    <h3>Handles used by TSG-Radboud</h3>

    <div class="row">
      <div class="col-sm-6">For information on the API, see the <a href="https://doc.pidconsortium.eu/guides/overview/" target="_blank">European Persistent Identifier Consortium</a></div>
      <div class="col-sm-2">
        <span id="recalculate" class="hidden">
          <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        </span>
      </div>
      <div class="col-sm-4 right">
        <!-- Adding a handle-->
        <span id="add_tsg_handle">
          <a class="btn btn-xs jumbo-1" role="button"><span class="glyphicon glyphicon-plus"></span>Add a handle</a>
        </span>

        <!-- Synchronization -->
        <span class="pull-right">
          <a role="button" class="btn btn-xs jumbo-3" onclick="ru.cesar.seeker.main_show_hide({ 'recalculate': true });" href="{% url 'tsg_sync' %}">Re-calculate</a>
        </span>
      </div>
    </div>
    <div class="row">&nbsp;</div>

    <!-- Room for errors -->
    <div id="research_err">
      {% for item in error_list %}
      {{item}}
      {% endfor %}
    </div>

    {% if object_list %}
      {% if is_paginated > 0 %}
        <!-- Top pagination-->
        <div class="row">
          <div class="col-sm-4"><span>Number of handles defined: </span><b>{{entrycount}}</b></div>
          <div class="col-sm-8 right">
          <span class="step-links pull-right">

          {% include 'pagination.html' %}

          </span>
          </div>
        </div>
      {% endif %}

      <!-- TSG-Handles overview -->
      <div id="tsg_handles">
        <div class="panel panel-default">
          <table class="table table-hover" style="width: 100%;">
            <thead>
              <tr>
                {% for hd in order_heads %}
                  <th class="sortable" scope="col">
                    <div class="text">
                      {% if hd.order == "" %}{{hd.name}}
                      {% else %}
                      <a href=?{{hd.order}}>{{hd.name}}</a>
                      {% endif %}
                    </div>
                  </th>
                {% endfor %}
                <!-- Action button(s) -->
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for item in object_list %}
                <tr>
                  <td valign="top" title="{{item.full_handle}}" class="tdnowrap"><a href="{{item.full_handle}}" target="_blank">{{item.code}}</a></td>
                  <td valign="top" style="width: 100%;" class="clickable"><a href="{{item.url}}" target="_blank">{{item.url}}</a></td>
                  <td valign="top" class="tdnowrap" align="right">{{item.created|date:"j/b/o G:i"}}</td>
                  <!-- Room for action buttons -->
                  <td>
                    <a class="view-mode btn btn-xs jumbo-1" href="{% url 'tsg_details' item.id %}">
                      <span class="glyphicon glyphicon-pencil" title="Edit this handle definition"></span>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>


      {% if is_paginated %}
        <!-- Bottom pagination -->
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-8">
            <span class="step-links pull-right">

            {% include 'pagination.html' %}

            </span>
            </div>
        </div>
      {% endif %}
    {% else %}
      <p>No TSG-handles are available.</p>
      {% if error_msg %}
      <p>There are no handles, because there is an error:</p>
      <code>{{error_msg}}</code>
      {% endif %}
    {% endif %}


  </div>

<script>
  ru.cesar.seeker.init_events();
</script>

{% endblock content %}

