<h3>Handles used by TSG-Radboud</h3>
<div class="row">
  <div class="col-sm-6">
    For information on the API, see the <a 
        href="https://doc.pidconsortium.eu/guides/overview/" 
        target="_blank">European Persistent Identifier Consortium</a>
  </div>
  <div class="col-sm-6 right">
    <!-- Synchronization -->
    <span class="pull-right">
      <a role="button" class="btn btn-xs jumbo-3" onclick="ru.cesar.seeker.main_show_hide({ 'recalculate': true });" 
         href="/tsg/handle/sync">Re-calculate</a>
    </span>
  </div>
</div>