<div>Status: {{status}}</div>
{% if statuscode == "working" %}
  <div class='col-md-12'>
    <table class='seeker-choice'>
      <tbody>
        <tr><td>Submitted:</td><td>{{count}} ({{ptc_count|floatformat:1}}%)</td><td class="b">{{start}}</td></tr>
        <tr><td>Ready:</td><td>{{ready}} ({{ptc_ready|floatformat:1}}%)</td><td class="b">{{finish}}</td></tr>
        <tr><td>Processing:</td><td align="center">{{pipecount}}</td><td></td></tr>
        <tr><td >Hits (total):</td><td align="center">{{found}}</td><td></td></tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-10 progress">
    <div id="exe-progress" class="progress-bar" role="progressbar" 
         aria-valuenow="{{ptc_done}}" aria-valuemin="100" aria-valuemax="100" 
         style="width:{{ptc_done}}%">
      {% if ptc_done > 5 %}{{ptc_done}}%{% endif %}
    </div>
  </div>
{% elif statuscode == "preparing" %}
  <div class='col-md-12'>
    <table class='seeker-choice'>
      <tbody>
        <tr><td>Preparing:</td><td>{{prep_status}}</td></tr>
        <tr><td>Crpp job:</td><td>{{prep_job}}</td></tr>
      </tbody>
    </table>
  </div>
{% elif statuscode == "stop" %}
  <div class='col-md-12'>
    <table class='seeker-choice'>
      <tbody>
        <tr><td>Notification:</td><td>preparation and/or execution have stopped</td></tr>
      </tbody>
    </table>
  </div>
{% elif statuscode == "error" %}
  <div class='col-md-12'>
    {% if msg_list %}
      <table class='seeker-choice'>
        <tbody>
          {% for msg_item in msg_list %}
          <tr><td>{{forloop.counter}}</td><td>{{msg_item}}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="error">{{msg|safe}}</div>
    {% endif %}
    {% if error_jumpto %}
      <button type="button" 
              class="btn btn-primary"
              ajaxurl="{{error_jumpto}}"
              jumptype="{{error_jumptype}}"
              instanceid="{{error_jumpid}}"
              onclick="ru.cesar.seeker.jumpto_item(this);">
        Jump to the definition
      </button>
    {% endif %}
  </div>
{% elif statuscode == "completed" %}
  <div class="row">
    <div class='col-md-6'>
      The search has finished in {{searchTime|floatformat:3}} seconds.
      <!-- walk through all the QC items -->
      {% for qcItem in table %}
      <h4>Output {{qcItem.qc}}: {{qcItem.result}}</h4>
      <table class='seeker-choice'>
        <tr><td align="right">Total count:</td><td align="right">{{qcItem.total}}</td></tr>
        {% for subres in qcItem.sub %}
        <tr>
          <td align="right" class="b">{{subres.subcat}}</td>
          <td align="right">{{subres.subcount}}</td>
        </tr>
        {% endfor %}
      </table>
      {% endfor %}
    </div>

    <!-- Save instructions-->
    <div id="save-as-service"  class="col-md-6 hidden">
      <form action="" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-12">

              <!-- Ask user where to save it -->
              <div>&nbsp;</div>
              <table>
                <tbody>
                  <tr class="tablefield">
                    <td class="tdnowrap vmiddle">Name:</td>
                    <td style="width: 100%;">
                      <input id="id_savename" name="savename" value="" type="text">
                    </td>
                  </tr>
                </tbody>
              </table>

              <div>&nbsp;</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" align="right">
            <button type="button" class="btn jumbo-3" id="simple_saveas" 
                    title="Convert simple search to project and Save that project"
                    ajaxurl="{% url 'simple_save' %}"
                    onclick="ru.cesar.seeker.simple_save(this);">Save as project</button>
          </div>
        </div>
      </form>
    </div>

  </div>
{% endif %}
<div class="errors">
  {% if error_list and statuscode != "error" %} 
    <h4>Errors:</h4>
    {% for item in error_list %}
    <div class="error-item">{{item}}</div>
    {% endfor %}
  {% endif %}
</div>