<div>Status: {{status}}</div>
{% if statuscode == "working" %}
  <div class='col-md-12'>
    <table class='seeker-choice'>
      <tbody>
        <tr><td>Submitted:</td><td>{{count}} ({{ptc_count|floatformat:1}}%)</td><td class="b">{{start}}</td></tr>
        <tr><td>Ready:</td><td>{{ready}} ({{ptc_ready|floatformat:1}}%)</td><td class="b">{{finish}}</td></tr>
        <tr><td>Processing:</td><td align="center">{{pipecount}}</td><td></td></tr>
        <tr><td >Hits (total):</td><td align="center">{{found}}</td><td></td></tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-10 progress">
    <div id="exe-progress" class="progress-bar" role="progressbar" 
         aria-valuenow="{{ptc_done}}" aria-valuemin="100" aria-valuemax="100" 
         style="width:{{ptc_done}}%">
      {% if ptc_done > 5 %}{{ptc_done}}%{% endif %}
    </div>
  </div>
{% elif statuscode == "preparing" %}
  <div class='col-md-12'>
    <table class='seeker-choice'>
      <tbody>
        <tr><td>Preparing:</td><td>{{prep_status}}</td></tr>
        <tr><td>Crpp job:</td><td>{{prep_job}}</td></tr>
      </tbody>
    </table>
  </div>
{% elif statuscode == "stop" %}
  <div class='col-md-12'>
    <table class='seeker-choice'>
      <tbody>
        <tr><td>Notification:</td><td>preparation and/or execution have stopped</td></tr>
      </tbody>
    </table>
  </div>
{% elif statuscode == "error" %}
  <div class='col-md-12'>
    {% if msg_list %}
      <table class='seeker-choice'>
        <tbody>
          {% for msg_item in msg_list %}
          <tr><td>{{forloop.counter}}</td><td>{{msg_item}}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <code>{{msg}}</code>
    {% endif %}
  </div>
{% elif statuscode == "completed" %}
  <div class='col-md-12'>
    The search has finished in {{searchTime|floatformat:3}} seconds.
    <!-- walk through all the QC items -->
    {% for qcItem in table %}
    <h4>Output {{qcItem.qc}}: {{qcItem.result}}</h4>
    <table class='seeker-choice'>
      <tr><td align="right">Total count:</td><td align="right">{{qcItem.total}}</td></tr>
      {% for subres in qcItem.sub %}
      <tr>
        <td align="right" class="b">{{subres.subcat}}</td>
        <td align="right">{{subres.subcount}}</td>
      </tr>
      {% endfor %}
    </table>
    {% endfor %}
  </div>
{% endif %}
<div class="errors">
  {% if error_list and statuscode != "error" %} 
    <h4>Errors:</h4>
    {% for item in error_list %}
    <div class="error-item">{{item}}</div>
    {% endfor %}
  {% endif %}
</div>