{% load i18n %}

    <!-- Allow the user to choose from pre-defined functions -->
    <span class="func-fundef">{{func_form.functiondef}}</span>
    <span class="hidden">{{func_form.function}}</span>

    <!-- Provide an Edit or Create button -->
    <span class="func-buttons">
      <a class="btn btn-xs btn-default" role="button" 
          targeturl="{% if func_form.instance.id %}{{func_form.url_edit}}{% else %}{{func_form.url_new}}{% endif %}"
          targetid="{{func_form.targetid}}"
          instanceid="{{func_form.instance.id}}"
          onclick="ru.cesar.seeker.research_wizard(this, '{{func_form.target}}');" >
        {% if func_form.instance.function_id %}
        {% trans 'edit' %}
        {% else %}
        {% trans 'create' %}
        {% endif %}
      </a>

      <!-- Allo user to see a summary -->
      {% if func_form.instance.function_id %}
        <a class="func-summary"
            targeturl="{% if func_form.instance.id %}{{func_form.url_summary}}{% endif %}">
            {% trans 'summary' %}</a>...

        <!-- If possible, allow propagating this function to other search elements (=constructions) -->
        {% if func_form.copyto %}
          <span class="func-construction pull-right">
            <a class="btn btn-xs btn-success" role="button"
               onclick="ru.cesar.seeker.copy_function(this, '{{func_form.instance.id}}');">
              {% trans 'Copy value to' %}
            </a>
            {{func_form.copyto}}
          </span>
        {% endif %}

      {% endif %}
    </span>
