{% load i18n %}

<!-- This is part of a table that shows the arguments of one particular function -->
{% for arg_this in arg_formset %}
  <tr class="form-row arg-item">
    <td class="hidden">{{arg_this.argumentdef}}</td>
    <td class="hidden">{{arg_this.id}}</td>
    <td class="hidden">{{hide_buttons}}</td>
    <td valign="bottom" class="arg-intro">{{arg_this.instance.argumentdef.text}}</td>
    <td valign="bottom">
      <div  class="arg-value">
        <div class="arg-type">{{arg_this.argtype}}</div>
        <!-- Provide the possible values of the argument, as chosen by argtype -->
        <div class="arg-val-exp">
          <!-- option 0: fixed value -->
          <span class="arg-value">{{arg_this.argval}}</span>
          <!-- option 1: global variable -->
          <span class="arg-gvar">{{arg_this.gvar}}</span>
          <!-- option 2: construction variable -->
          <span class="arg-cvar">{{arg_this.cvar}}</span>
          <!-- option 3: data-dependant variable -->
          <span class="arg-dvar">{{arg_this.dvar}}</span>
          <!-- option 4: function/expression -->
          <span class="arg-expression">
            <span class="arg-fundef">{{arg_this.functiondef}}</span>
            <span class="hidden">{{arg_this.function}}</span>
            {% if hide_buttons != 'yes' %}
            <a class="btn btn-xs btn-default" role="button" 
                targeturl="{% if arg_this.instance.id %}{{arg_this.url_edit}}{% else %}{{arg_this.url_new}}{% endif %}"
                targetid="{{arg_this.targetid}}"
                instanceid="{{arg_this.instance.id}}"
                onclick="ru.cesar.seeker.research_wizard(this, '{{arg_this.target}}');" >
              {% if arg_this.instance.functionparent.first.id %}
              {% trans 'edit' %}
                  <span>{{arg_this.instance.functionparent.first.id}}</span>
              {% else %}
              {% trans 'create' %}
              {% endif %}
            </a>
            {% endif %}
          </span>
          <!-- option 5: relation axis -->
          <span class="arg-raxis">{{arg_this.raxis}}</span>
          <!-- option 6: relation condition -->
          <span class="arg-rcond">{{arg_this.rcond}}</span>
          <!-- option 7: relation constituent -->
          <span class="arg-rcnst">{{arg_this.rconst}}</span>
          <!-- option 8: search hit -->
          <span class="arg-search">Search hit</span>
        </div>
      </div>
    </td>
  </tr>
{% endfor %}
