{% load i18n %}

    <!-- Allow the user to choose from pre-defined functions -->
    <span class="func-fundef arg-type">{{func_form.functiondef}}</span>
    <span class="hidden">{{func_form.function}}</span>

    <!-- Provide an Edit or Create button -->
    <span class="func-buttons">
      <a class="btn btn-xs btn-warning" role="button" 
         title="edit"
         targeturl="{% if func_form.instance.id %}{{func_form.url_edit}}{% else %}{{func_form.url_new}}{% endif %}"
         targetid="{{func_form.targetid}}"
         instanceid="{{func_form.instance.id}}"
         onclick="ru.cesar.seeker.research_wizard(this, '{{func_form.target}}');" >
        {% if func_form.instance.function_id %}
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        {% else %}
        {% trans 'create' %}
        {% endif %}
      </a>

      <!-- Allow user to see a summary -->
      {% if func_form.instance.function_id %}
        <!-- View button #1: hierarchical summary -->
        <a class="btn btn-xs btn-success func-summary"
           role="button"
           title="view"
           targeturl="{% if func_form.instance.id %}{{func_form.url_summary}}{% endif %}">
           <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></a>

        <!-- View button #2: tabular summary -->
        <a class="btn btn-xs btn-default func-summary"
           role="button"
           title="view as table"
           targeturl="{% if func_form.instance.id %}{{func_form.url_table}}{% endif %}">
           <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></a>

        <!-- If possible, allow propagating this function to other search elements (=constructions) -->
        {% if func_form.copyto %}
          <span class="func-construction pull-right">
            <a class="btn btn-xs btn-success" role="button"
               onclick="ru.cesar.seeker.task_save('copy_cvar_function', this, '{{func_form.instance.function_id}}');">
              {% trans 'Copy value to' %}
            </a>
            <select id="func-copyto">
                {% for item in func_form.copyto %}
                <option value="{{item.id}}">{{item.name}}</option>
                {% endfor %}
            </select>
          </span>
        {% endif %}

      {% endif %}
    </span>
