{% load i18n %}

  <!-- Allow user to filter what he/she wants to see -->
  <form action="" method="post">
    {% csrf_token %}
    <!-- Adjust the QC line -->

    <!-- Allow adding one or more kwic filter lines -->
    <div id="result_kwic_1"
         class="js-inline-formse inline-group"
         data-inline-type="tabular"
         data-inline-formaet="{{kwicfilter_formset.inline_formset_data}}">


      <!-- Show ERRORS if needed -->
      <div id="research_err">
        {% for item in error_list %}{{item}}{% endfor %}
      </div>

      <!-- Show the buttons to save, cancel, delete and so forth -->
      <!-- USED TO BE: [include "submit_row.html" with currentowner=form.instance.owner] -->
      <!-- Provide SAVE button (verification is done on the server) -->
      <div class="submit-row">
        <button type="button" class="btn btn-primary ajaxform"
                instanceid="{{object_id}}"
                openid="result_container_1" 
                ajaxurl="{% if object_id %}{% url 'result_part_1' object_id %}{% else %}{% url 'result_part_1' %}{% endif %}"
                data="">{% trans 'Save' %}</button>
        <div class="save-warning">{% if savedate %}{{savedate}}{% endif %}</div>
      </div>

    </div>  

  </form>
