{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
      <a href="{% url 'home' %}">Home</a>
      &rsaquo; <a href="{% url 'seeker_list' %}">Search</a>
      &rsaquo; <a href="{{search_edit_url}}">{{search_name}}</a>
      &rsaquo; results [{{basket.part.corpus.get_lng_display}}, {{basket.part.name}}]
  </div>
{% endblock %}

{% block content %}

  <div class="container body-content">
    <h3>Keyword-in-context results</h3>
    <p>{{intro_message|safe}}</p>
    <div id="research_err">
      {% for item in error_list %}
      {{item}}
      {% endfor %}
    </div>

    <!-- Allow choosing and adjusting a filter -->
    <div id="goto_kwicfilter" class="row container">

      <!-- allow returning back to KWIC listview -->
      <div class="col-md-3" align="left">
        <div id="goto_kwic" class="hidden">
          <button type="button" class="btn btn-primary" 
                  onclick="ru.cesar.seeker.research_open('kwiclistshow', 'kwicfilter', 'goto_filter', 'goto_kwic');">
            << Kwic-results</button>
        </div>
      </div>

      <!-- Show we are waiting -->
      <div class="col-md-6" align="center">
        <div id="kwic-fetch" class="row hidden">
          <span>Loading...</span>
          <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        </div>
      </div>

      <!-- Goto filter editing -->
      <div class="col-md-3" align="right">
        <a id="goto_filter" class="btn btn-info" role="button"
            onclick="ru.cesar.seeker.research_open('kwicfilter', 'kwiclistshow', 'goto_kwic', 'goto_filter');">
          Adjust filter</a>
      </div>
    </div>


    <!-- Both kwic-listview and kwic-filter should be within a panel -->
    <div class="panel panel-default">

      <!-- Option 1: The kwic listview -->
      <div id="kwiclistshow" class="row result-part"></div>

      <!-- Option 2: THe KWIC filter definition -->
      <div id="kwicfilter" class="row result-part hidden">
          {% include 'seeker/kwic_filter.html' %}
      </div>
    </div>



  </div>


  <script>
    // Make sure events are connect on the right places
    ru.cesar.seeker.init_events();
    // Make sure the button is pressed on the first time
    $("#kwic_search_button").click();
  </script>
{% endblock content %}
