{% load i18n %}
<!-- Sub-form to specify calculation of this construction variable for all search elements -->
<tr id="research_calc_{{forloop.counter}}" class="hidden form-row inline" loop="{{vardef_number}}">
  <td colspan="4">
    <div class="panel panel-default">
      <p>Specify how variable <code>{{vardef_this.name.value}}</code> should be calculated for each search element</p>
      <table>
        <thead><tr><th>#</th><th>Name</th><th>Type</th><th>Value</th></tr></thead>
        <tbody>
        {% for cvar_formset in vardef_this.cvar_formset_list %}
          {{cvar_formset.management_form}}
            <tr class="form-row cvar-item">
              <td class="hidden">
                {% for cvar_form in cvar_formset %}
                  <div>{{cvar_form.id}}</div>
                {% endfor %}
              </td>
              <td valign="top">{{forloop.counter}}</td>
              <td valign="top">{{cvar_formset.construction.name}}</td>
              <td valign="top" class="cvar-type">
                {% for cvar_form in cvar_formset %}
                  <div>{{cvar_form.type}}</div>
                {% endfor %}
              </td>
              <td valign="top" class="cvar-val-exp">
                {% for cvar_form in cvar_formset %}
                  <div>
                  <span class="cvar-value">{{cvar_form.svalue}}</span>
                  <span class="cvar-expression">
                    <a class="cvar-calculate" loopid="research_spec_{{vardef_number}}_{{forloop.parentloop.counter}}" >{% trans 'specification' %}...</a>
                    <a class="cvar-summary">{% trans 'summary' %}...</a>
                  </span>
                  <div class="cvar-expression-summary hidden"></div>
                  </div>
                {% endfor %}
              </td>
            </tr>
            <!-- Include room for the specification element builder -->
            {% include "seeker/specbuilder.html" %}
        {% endfor %}
        </tbody>
      </table>
    </div>
  </td>
</tr>
