{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
      <a href="{% url 'home' %}">Home</a>
      &rsaquo; Search
  </div>
{% endblock %}

{% block content %}

  <div class="container body-content">
    <div class="panel panel-default">
      <form name="researchsearch" id="researchsearch" action="" method="get"  
                onsubmit="return do_search('#id_submit_button', 'research', 'simple');" >
        <!-- EK: A sort-order specification is in a hidden form field, which is filled by JS:do_sort_column() -->
        <div class="hidden">
          <input name='sortOrder' class='form-control' value='name' >
          <input id="submit_type" name='submit_type' class='form-control' value='simple'>
        </div>
      </form>
    </div>

    {% if object_list %}
      <h3>Research project overview</h3>
      <!-- Room for errors -->
      <div id="research_err"></div>
      <!-- The contents as a table -->
      <table class="table table-hover">
        <thead><tr><th class="hidden">id</th><th>Owner</th><th>Type</th><th>Name</th><th>Purpose</th><th>Action</th></tr></thead>
        <tbody>
        {% for item in object_list %}
          <tr class="part-item">
            <td class="hidden">{{item.id}}</td>
            <td><span class="research-item-user">{{item.username}}</span></td>
            <td><span class="research-item-type">{{item.get_targetType_display}}</span></td>
            <td><span class="research-item-name">{{item.name}}</span></td>
            <td><span class="research-item-purpose">{{item.purpose}}</span></td>
            <td class="tdnowrap">
              <div class="part-buttons">
                <form>
                  {% csrf_token %}
                  {% if has_permission item currentuser 'w' %}
                  <span class="research-item-name">
                    <a class="btn btn-success btn-xs" href="{% url 'seeker_edit' object_id=item.id %}">edit</a>
                  </span>
                  {% endif %}
                  {% if has_permission item currentuser 'r' %}
                  <span class="research-item-copy">
                    <a class="btn btn-default btn-xs" 
                       url="{{item.get_copy_url}}" 
                       success="{% url 'seeker_list' %}"
                       onclick="ru.cesar.seeker.process_item(this);">copy</a>
                  </span>
                  {% endif %}
                  {% if has_permission item currentuser 'd' %}
                  <span class="research-item-copy">
                    <a class="btn btn-warning btn-xs" onclick="ru.cesar.seeker.toggle_del(this);">delete</a>
                  </span>
                  {% endif %}
                </form>
              </div>
              <div class="part-process hidden"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></div>
            </td>
          </tr>
          <!-- Provide a form row for deletion -->
          <tr class="part-del hidden">
            <td colspan="3"></td>
            <td>Are you sure you want to delete the research project named <code>{{item.name}}</code>?</td>
            <td>
              <div class="part-del">
                <form action="{{item.get_delete_url}}" method="post">
                  {% csrf_token %}
                    <a class="btn btn-info btn-xs" onclick="ru.cesar.seeker.toggle_del(this);">cancel</a>
                    <a class="btn btn-danger btn-xs" 
                       url="{{item.get_delete_url}}" 
                       success="{% url 'seeker_list' %}"
                       onclick="ru.cesar.seeker.process_item(this);">delete</a>
                </form>
              </div>
              <div class="part-process hidden"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>{% trans "No research projects are available" %}.</p>
    {% endif %}

  </div>


{% endblock content %}
