{% load i18n %}

<form action="" method="post">
    {% csrf_token %}
    <!-- Part 4-3: Build a function for one combination of [Construction Variable + Search Element] -->
    <div id="research_part_43" 
         class="js-inline-formset inline-group panel panel-default"
         data-inline-type="tabular"
         data-inline-formset="{{arg_formset.inline_formset_data}}">
      <div class="col-md-1">
          <button type="button" class="btn btn-primary" 
                  id="button_part_42_return"
                  targeturl="{% if vardef_this.id %}{% url 'research_part_42' vardef_this.id %}{% else %}{% url 'research_part_42' %}{% endif %}"
                  targetid="research_part_42"
                  onclick="ru.cesar.seeker.research_wizard(this, '42');"><<</button>
      </div>
      <div id="research_cvar" class="col-md-11 tabular inline-related">
        {{arg_formset.management_form}}
        <fieldset class="module {{arg_formset.classes}}">

          <p>Specify how to calculate variable <code>{{vardef_this.name}}</code> for search element <code>{{construction_this.name}}</code></p>

          <!-- Show the template of the main function -->
          <div class="row">
            <div class="col-md-6 panel panel-default">
              <h3>{{functionForm.instance.functiondef.title}}</h3>
              <div class="hidden">{{functionForm}}</div>
              <table>
              {% for arg_this in arg_formset %}
                <tr class="form-row arg-item">
                  <td class="hidden">{{arg_this.argumentdef}}</td>
                  <td class="hidden">{{arg_this.id}}</td>
                  <td valign="top">{{arg_this.instance.argumentdef.text}}</td>
                  <td valign="top" class="arg-type">{{arg_this.argtype}}</td>
                  <!-- Provide the possible values of the argument, as chosen by argtype -->
                  <td valign="top" class="arg-val-exp">
                    <div>
                      <!-- option 0: fixed value -->
                      <span class="arg-value">{{arg_this.argval}}</span>
                      <!-- option 1: global variable -->
                      <span class="arg-gvar">{{arg_this.gvar}}</span>
                      <!-- option 2: construction variable -->
                      <span class="arg-cvar">{{arg_this.cvar}}</span>
                      <!-- option 3: function/expression -->
                      <span class="arg-expression">
                        <span class="arg-fundef">{{arg_this.functiondef}}</span>
                        <span class="hidden">{{arg_this.function}}</span>
                        <a class="btn btn-xs btn-default" role="button" 
                            targeturl="{% if arg_this.instance.id %}{% url 'research_part_43' arg_this.instance.id %}{% else %}{% url 'research_part_43' %}{% endif %}"
                            targetid="research_part_43"
                            instanceid="{{arg_this.instance.id}}"
                            onclick="ru.cesar.seeker.research_wizard(this, '43');" >
                          {% if arg_this.instance.function_id %}
                          {% trans 'edit' %}
                          {% else %}
                          {% trans 'create' %}
                          {% endif %}
                        </a>
                      </span>
                    </div>
                  </td>
                </tr>
              {% endfor %}
              </table>
            </div>
          </div>
        </fieldset>
      </div>


      <!-- Show ERRORS if needed -->
      <div id="research_err">
        <code>{% for item in error_list %}{{item}}{% endfor %}</code>
      </div>

      <!-- Show the buttons to save, cancel, delete and so forth -->
      <!-- USED TO BE: [include "submit_row.html" with currentowner=form.instance.owner] -->
      <!-- Provide SAVE button (verification is done on the server) -->
      <div class="submit-row">
        <button type="button" class="btn btn-primary ajaxform"
                instanceid="{{object_id}}"
                openid="research_container_43" 
                ajaxurl="{% if object_id %}{% url 'research_part_43' object_id %}{% else %}{% url 'research_part_43' %}{% endif %}"
                data="">{% trans 'Save' %}</button>
      </div>
      {% if savedate %}<div class="row">{{savedate}}</div>{% endif %}
    </div>
</form>

