{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
      <a href="{% url 'home' %}">Home</a>
      &rsaquo; <a href="{% url 'seeker_list' %}">Search</a>
      &rsaquo; {{intro_breadcrumb}}
  </div>
{% endblock %}

{% block content %}

  <!-- Contents -->
  <div class="container body-content">
    <h3>Search specification</h3>
    <p>{{intro_message|safe}}</p>
    <div id="research_err">
      {% for item in error_list %}
      {{item}}
      {% endfor %}
    </div>
    <div class="hidden" id="researchid">{{object_id}}</div>
    <div class="xpanel xpanel-default">

      <div class="btn-group" role="group" aria-label="Research specification">
        <button type="button" class="btn btn-secondary" 
                id="button_part_1"
                targeturl="{% if object_id %}{% url 'research_part_1' object_id %}{% else %}{% url 'research_part_1' %}{% endif %}"
                targetid="research_part_1"
                onclick="ru.cesar.seeker.research_wizard(this, '1');">Project type</button>
        <button type="button" class="btn btn-primary" 
                id="button_part_2"
                targeturl="{% if object_id %}{% url 'research_part_2' object_id %}{% else %}{% url 'research_part_2' %}{% endif %}"
                targetid="research_part_2"
                onclick="ru.cesar.seeker.research_wizard(this, '2');">Search elements >></button>
        <button type="button" class="btn btn-primary" 
                id="button_part_3"
                targeturl="{% if object_id %}{% url 'research_part_3' object_id %}{% else %}{% url 'research_part_3' %}{% endif %}"
                targetid="research_part_3"
                onclick="ru.cesar.seeker.research_wizard(this, '3');">Global >></button>
        <button type="button" class="btn btn-primary" 
                id="button_part_4"
                targeturl="{% if object_id %}{% url 'research_part_4' object_id %}{% else %}{% url 'research_part_4' %}{% endif %}"
                targetid="research_part_4"
                onclick="ru.cesar.seeker.research_wizard(this, '4');">Variables >></button>
        <button type="button" class="btn btn-primary" disabled onclick="ru.cesar.seeker.research_wizard(this, '6');">Conditions >></button>
        <button type="button" class="btn btn-primary" disabled onclick="ru.cesar.seeker.research_wizard(this, '7');">Features</button>
      </div>

      <div class="panel panel-default">

        <!-- Part 1: Research + Gateway -->
        <div id="research_container_1"  class="row research-part" ></div>

        <!-- Part 2: Search elements -->
        <div id="research_container_2"  class="row research-part" ></div>

        <!-- Part 3: Global variables -->
        <div id="research_container_3"  class="row research-part" ></div>

        <!-- Part 4: Construction variables -->
        <div id="research_container_4"  class="row research-part" ></div>

        <!-- Part 4-2: Construction variable per search element -->
        <div id="research_container_42"  class="row research-part" ></div>

        <!-- Part 4-3: Function specification for one cvar -->
        <div id="research_container_43"  class="row research-part" ></div>

        <!-- Part 4-4: Function specification for one function argument -->
        <div id="research_container_44"  class="row research-part" ></div>

        <!-- Part 6: Conditions -->
        <div id="research_container_6"  class="row research-part" ></div>

        <!-- Part 7: Features -->
        <div id="research_container_7"  class="row research-part" ></div>
        
      </div>


    </div>
  </div>

<script>
  ru.cesar.seeker.init_events();
  ru.cesar.seeker.research_wizard($("#button_part_1"), '1');
</script>

{% endblock content %}

{% block script %}
{% endblock %}
