{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
      <a href="{% url 'home' %}">Home</a>
      &rsaquo; <a href="{% url 'seeker_list' %}">Search</a>
      &rsaquo; {{intro_breadcrumb}}
  </div>
{% endblock %}

{% block content %}

  <!-- Contents -->
  <div class="container body-content">
    <h3>Search specification</h3>
    <p>{{intro_message|safe}}</p>
    <div id="research_err">
      {% for item in error_list %}
      {{item}}
      {% endfor %}
    </div>
    <div class="hidden" id="researchid">{{object_id}}</div>
    <div class="hidden" id="targettype">{{targettype}}</div>

    <div class="xpanel xpanel-default">

      <!-- Short summary of the project -->
      <div id="research_tiles" class="row container">
        {% if object_id %}
        <div class="row container">
          <div class="col-md-9 panel panel-default">
            <table>
              <tr><td valign='top' class='tdnowrap'>Purpose:</td><td valign='top'>{{original.purpose}}</td></tr>
              <tr><td valign='top' class='tdnowrap'>Main search:</td><td valign='top'>{{original.get_targetType_display}}</td></tr>
              <tr><td valign='top' class='tdnowrap'>Created:</td><td valign='top'>{{original.created}}</td></tr>
              <tr><td valign='top' class='tdnowrap'>Saved:</td><td valign='top'>{{original.saved}}</td></tr>
              <tr><td valign='top' class='tdnowrap'>Shared with:</td>
                <td valign='top'>
                  {% if original.sharegroups.all %}
                    {% for share in original.sharegroups.all %}
                      {{share.group.name}} ({{share.get_permission_display}})
                    {% endfor %}
                  {% else %}(none){% endif %}
                </td>
              </tr>
            </table>
          </div>
        </div>
        {% endif %}

        <!-- Action Button row -->
        {% if object_id %}
        <div id="action_buttons" class="row container">
          <div class="col-md-9 panel panel-default">
            <div class="row">&nbsp;</div>
            <div class="row">
              <div class="col-md-2 ">
                <button type="button" class="btn jumbo-1" onclick="ru.cesar.seeker.research_open('edit_buttons', 'exe_dashboard');">Edit</button>
              </div>
              <div class="col-md-2 ">
                {% if object_id %}
                  <a href="{% url 'seeker_oview' object_id=object_id %}" 
                     role="button" 
                     class="btn jumbo-2"
                     target="_blank">Summary</a>
                {% endif %}
              </div>
              <div class="col-md-2 ">
                <button type="button" class="btn jumbo-3" onclick="ru.cesar.seeker.research_open('exe_dashboard', 'edit_buttons');">Search...</button>
              </div>
              <div class="col-md-2">
                <span class="main-wait glyphicon glyphicon-refresh glyphicon-refresh-animate hidden"></span>
              </div>
            </div>
            <div class="row">&nbsp;</div>
          </div>
        </div>
        {% endif %}
        
        <!-- The buttons to be able to edit the search -->
        <div id="edit_buttons" class="hidden">
          <!-- SVG code to access all different parts -->
          <svg xmlns="http://www.w3.org/2000/svg" width="1100" height="475" viewBox="-5 0 2200 950" >
            <defs>
              <marker id="main_arrowhead"  markerWidth="50" markerHeight="30"
	                  refX="50" refY="15">
	            <path d="M0,0 L50,15 L0,30 L0,0 Z" fill="black" />
	          </marker>
            </defs>

            <g id="main_about" class="jumbo-1 main-el"
               info="Define the name of this search and its purpose.\nWhat is the output it will give?\nSpecify whom to share it with."
               targeturl="{% if object_id %}{% url 'research_part_1' object_id %}{% else %}{% url 'research_part_1' %}{% endif %}"
               targetid="research_part_1"
               onclick="ru.cesar.seeker.research_wizard(this, '1');">  
	            <rect x="0" y="0" width="1680" height="220" rx="30" ry="30" stroke-width="0"></rect>
	            <text x="840" y="100" text-anchor="middle" font-family="sans-serif" font-size="40">About</text>
	            <text x="840" y="150" text-anchor="middle" font-family="sans-serif" font-size="25">Information about this search</text>
            </g>
  
            <g id="main_elements" class="jumbo-2 main-el" 
               info="The main search elements can be:\n- words\n- POS-tags\n- syntactic components"
               targeturl="{% if object_id %}{% url 'research_part_2' object_id %}{% else %}{% url 'research_part_2' %}{% endif %}"
               targetid="research_part_2"
               onclick="ru.cesar.seeker.research_wizard(this, '2');">
	            <rect x="0" y="280" width="460" height="260" rx="30" ry="30" stroke-width="0"></rect>
	            <text x="230" y="410" text-anchor="middle" font-family="sans-serif" font-size="40">Search Elements</text>
	            <text x="230" y="460" text-anchor="middle" font-family="sans-serif" font-size="25">what are the elements of interest</text>
            </g>
  
            <g id="main_fixed" class="jumbo-1 main-el"
               info="Define fixed (or global) constants.\nThis may be helpful in defining data-dependant Variables."
               targeturl="{% if object_id %}{% url 'research_part_3' object_id %}{% else %}{% url 'research_part_3' %}{% endif %}"
               targetid="research_part_3"
               onclick="ru.cesar.seeker.research_wizard(this, '3');">
	            <rect x="0" y="600" width="460" height="260" rx="30" ry="30" stroke-width="0"></rect>
	            <text x="230" y="730" text-anchor="middle" font-family="sans-serif" font-size="40">Fixed</text>
	            <text x="230" y="780" text-anchor="middle" font-family="sans-serif" font-size="25">Constants for convenience</text>
            </g>
  
            <g id="main_variables" class="jumbo-3 main-el"
               info="Define data-dependant variables to easily determine:\n- Conditions\n- Features.\nVariables can include nodes that are syntactically related to the search element."
               targeturl="{% if object_id %}{% url 'research_part_4' object_id %}{% else %}{% url 'research_part_4' %}{% endif %}"
               targetid="research_part_4"
               onclick="ru.cesar.seeker.research_wizard(this, '4');">
	            <rect x="610" y="280" width="460" height="580" rx="30" ry="30" stroke-width="1"></rect>
	            <text x="840" y="570" text-anchor="middle" font-family="sans-serif" font-size="40">Variables</text>
	            <text x="840" y="620" text-anchor="middle" font-family="sans-serif" font-size="25">data-dependant</text>
            </g>

            <g id="main_conditions" class="jumbo-4 main-el"
               info="Specify conditions that need to be met before\na found search element constitutes a 'hit'."
               targeturl="{% if object_id %}{% url 'research_part_6' object_id %}{% else %}{% url 'research_part_6' %}{% endif %}"
               targetid="research_part_6"
               onclick="ru.cesar.seeker.research_wizard(this, '6');">
	            <rect x="1220" y="280" width="460" height="260" rx="30" ry="30" stroke-width="1"></rect>
	            <text x="1450" y="410" text-anchor="middle" font-family="sans-serif" font-size="40">Conditions</text>
	            <text x="1450" y="460" text-anchor="middle" font-family="sans-serif" font-size="25">to keep a search element</text>
            </g>

            <g id="main_features" class="jumbo-1 main-el"
               info="Each search element that satisfies the conditions is a hit.\nEach 'hit' may be accompanied in the output by any number of (textual)'features'.\nThese features can e.g. be\n- syntactic category labels\n- texts of nodes\n- other elements relating to the hit\n- anything that can be calculated"
               targeturl="{% if object_id %}{% url 'research_part_7' object_id %}{% else %}{% url 'research_part_7' %}{% endif %}"
               targetid="research_part_7"
               onclick="ru.cesar.seeker.research_wizard(this, '7');">
	            <rect x="1220" y="600" width="460" height="260" rx="30" ry="30" stroke-width="1"></rect>
	            <text x="1450" y="730" text-anchor="middle" font-family="sans-serif" font-size="40">Output Features</text>
	            <text x="1450" y="780" text-anchor="middle" font-family="sans-serif" font-size="25">that are calculated per find</text>
            </g>
  
            <g id="main_arrows" class="main-arrow">
	            <line x1="460" y1="410" x2="610" y2="410" marker-end='url(#main_arrowhead)' />
	            <line x1="460" y1="730" x2="610" y2="730" marker-end='url(#main_arrowhead)' />
	            <line x1="1070" y1="410" x2="1220" y2="410" marker-end='url(#main_arrowhead)' />
	            <line x1="1070" y1="730" x2="1220" y2="730" marker-end='url(#main_arrowhead)' />
            </g>
  
          </svg> 
        </div>

        <!-- Dashboard to specify the corpus and then execute the search -->
        <div id="exe_dashboard" class="hidden">
          <div class="row container">
            <form action="" method="post">
              {% csrf_token %}
              <div class="col-md-5 panel panel-default">
                <b>Corpus</b>

                <div class="input-group input-group-sm">
                  <!-- Storage for chosen corpus part -->
                  <div class="hidden">
                    <input name='searchPart' id='searchPart' class='form-control' value='' >
                    <input name='searchFormat' class='form-control' value='folia' >
                  </div>
      
                  <!-- Let user choose a corpus-part -->
                  <label class='input-group-addon' for='part'>Search in</label>
                  <select class="form-control" name="select_part" id="select_part" 
                          onchange="ru.cesar.seeker.corpus_choice(this, 'select_corpus_choice');">
                    <option value="">-</option>
                    {% for opt in part_list %}
                      {% if opt.corpus_lng.first %}
                        <optgroup label="{{opt.entry.language}}">
                      {% endif %}
                        <option value="{{opt.entry.id}}" {% if opt.entry.id == partchoice %} selected {% endif %}>{{opt.entry.name}}</option>
                      {% if opt.corpus_lng.last %}
                        </optgroup>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>

                <div id="select_corpus_choice" class="row">
                  <!-- This is where the details of the chosen corpus will appear-->
                  <div class="row">&nbsp;</div>
                </div>

              </div>

              {% if object_id %}
              <div class="col-md-3 col-md-offset-1 panel panel-default">
                <b>Action</b>
                <div class="row">

                  <div class="col-md-2 ">
                    <button type="button" class="btn jumbo-3" id="research_start" 
                            ajaxurl="{% url 'search_prepare' object_id %}"
                            onclick="ru.cesar.seeker.search_start(this);">Start</button>
                  </div>

                  <div class="col-md-offset-4 col-md-2 ">
                    <button type="button" class="btn jumbo-4 hidden" id="research_stop" 
                            ajaxurl="{% url 'search_stop' object_id %}"
                            onclick="ru.cesar.seeker.search_stop(this);">Stop</button>
                    <a class="btn jumbo-2 hidden" id="research_results"
                       type="button" title="show results"
                       href="">Results</a>
                  </div>


                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                  <button type="button" class="btn btn-xs jumbo-1" id="research_download" 
                          ajaxurl="{% url 'search_download' object_id %}"
                          onclick="ru.cesar.seeker.search_download(this);">Download</button>
                </div>
                <div class="row">&nbsp;</div>
              </div>
              {% endif %}
            </form>
          </div>

          <div class="row container">
            <div class="col-md-9 panel panel-default">
              <b>Progress</b>
              <div class="row">
                <div id="research_progress" class="col-md-12">
                  <div class="explanation">Select a corpus and press 'Start'. Progress indications will appear here.</div>
                </div>
              </div>
              <div class="row">&nbsp;</div>
              <div class="row">&nbsp;</div>
            </div>
          </div>
        </div>
      </div>

      <!-- allow returning back to the tiles -->
      <div id="goto_overview" class="row container hidden">
          <!-- Allow user to go back to overview-->
          <button type="button" class="btn btn-primary pull-left" 
                  targeturl="{% if object_id %}{% url 'seeker_edit' object_id=object_id  %}{% else %}{% url 'seeker_define' %}{% endif %}"
                  onclick="ru.cesar.seeker.research_overview(this);"><< Overview</button>
          <!-- Allow user to create an overview page -->
          {% if object_id %}
            <a href="{% url 'seeker_oview' object_id=object_id %}" 
               role="button" 
               class="btn btn-info pull-right"
               title="Creating a summary may take some time..."
               target="_blank">Show summary</a>
          {% endif %}
      </div>

      <!-- allow returning back to the tiles -->
      <div id="goto_finetune" class="row container hidden">
          <button type="button" class="btn btn-primary pull-left" 
                  onclick="ru.cesar.seeker.research_finetune(this);"><< Fine-tune</button>
      </div>

      <div id="research_conditions" class="row container hidden">
        <div class="explanation row container">
          <p>The search program will attempt to find the words or constituents specified in <kw>Search</kw> (see <kw>Overview</kw>).</p>
          <p>But if there are additional <kw>conditions</kw> before the results are of interest, these conditions need to be specified.</p>
          <p>The <kw>conditions</kw> may make use of:
            <ul>
              <li>Fixed <kw>global</kw> variables.</li>
              A global variable is a piece of text. 
              Whenever a particular word or clause is used several times in the <kw>data-dependant</kw> variables or in the <kw>conditions</kw>, 
              think of replacing that text by defining a global variable.
              
              <li>Variables that are <kw>data-dependant</kw>.</li>
              The value of data-dependant variables is defined separately for each word or constituent that is being searched.
              Data-dependent variables can be of any kind, e.g.: boolean, string, constituent.
              
            </ul>
          </p>
        </div>
        <div class="row container">
          <a class="col-md-3 jumbotron jumbo-1"
             id="button_part_3"
             targeturl="{% if object_id %}{% url 'research_part_3' object_id %}{% else %}{% url 'research_part_3' %}{% endif %}"
             targetid="research_part_3"
             onclick="ru.cesar.seeker.research_wizard(this, '3');">
            <h2>Fixed</h2>
            <p>Global variables</p>
          </a>
          <a class="col-md-3 col-md-offset-1 jumbotron jumbo-2"
             id="button_part_4"
             targeturl="{% if object_id %}{% url 'research_part_4' object_id %}{% else %}{% url 'research_part_4' %}{% endif %}"
             targetid="research_part_4"
             onclick="ru.cesar.seeker.research_wizard(this, '4');">
            <h2>Variables</h2>
            <p>Data-dependant</p>
          </a>
          <a class="col-md-3 col-md-offset-1 jumbotron jumbo-3"
                    id="button_part_6"
                    targeturl="{% if object_id %}{% url 'research_part_6' object_id %}{% else %}{% url 'research_part_6' %}{% endif %}"
                    targetid="research_part_6"
                    onclick="ru.cesar.seeker.research_wizard(this, '6');">
            <h2>Conditions</h2>
            <p>When is it a hit?</p>
          </a>
        </div>
      </div>

      <div id="research_contents" class="panel panel-default hidden">

        <!-- Part 1: Research + Gateway -->
        <div id="research_container_1"  class="row research-part" ></div>

        <!-- Part 2: Search elements -->
        <div id="research_container_2"  class="row research-part" ></div>

        <!-- Part 3: Global variables -->
        <div id="research_container_3"  class="row research-part" ></div>

        <!-- Part 4: Construction variables -->
        <div id="research_container_4"  class="row research-part" ></div>

        <!-- Part 4-2: Construction variable per search element -->
        <div id="research_container_42"  class="row research-part" ></div>

        <!-- Part 4-3: Function specification for one cvar -->
        <div id="research_container_43"  class="row research-part" ></div>

        <!-- Part 4-4: Function specification for one cvar function argument -->
        <div id="research_container_44"  class="row research-part" ></div>

        <!-- Part 6: Conditions -->
        <div id="research_container_6"  class="row research-part" ></div>

        <!-- Part 6-2: Main function specification for a condition -->
        <div id="research_container_62"  class="row research-part" ></div>

        <!-- Part 6-3: Function specification for one condition function argument -->
        <div id="research_container_63"  class="row research-part" ></div>

        <!-- Part 7: Features -->
        <div id="research_container_7"  class="row research-part" ></div>
        
        <!-- Part 7-2: Main function specification for a feature -->
        <div id="research_container_72"  class="row research-part" ></div>

        <!-- Part 7-3: Function specification for one feature function argument -->
        <div id="research_container_73"  class="row research-part" ></div>

      </div>

      <div id="main_info_div" class="hidden"></div>

    </div>
  </div>

<script>
  ru.cesar.seeker.init_events();
  /* ru.cesar.seeker.click_if_new("researchid", "button_part_1"); */
  ru.cesar.seeker.click_if_new("researchid", "main_about");
</script>

{% endblock content %}

{% block script %}
{% endblock %}
