{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
      <a href="{% url 'home' %}">Home</a>
      &rsaquo; Search
  </div>
{% endblock %}

{% block content %}

  <div class="container body-content">

    {% if authenticated %}
      <!-- Provide searchable columns -->
      <div >
        <form name="researchsearch" id="researchsearch" action="" method="get"  
                  onsubmit="return do_search('#id_submit_button', 'research', 'simple');" >
          <!-- EK: A sort-order specification is in a hidden form field, which is filled by JS:do_sort_column() -->
          <div class="hidden">
            <input name='sortOrder' class='form-control' value='name' >
            <input id="submit_type" name='submit_type' class='form-control' value='simple'>
          </div>
        </form>
      </div>

      {% if combi_list %}
      <div class="row">
        <div class="col-md-6">
          <h3>Research project overview</h3>
        </div>
        <div class="col-md-4 align=right">
          <h3 class="pull-right">
            <a class="btn btn-info btn-xs" title="show most recent projects projects" 
               targetid="prj-overall-list"
               onclick="ru.cesar.seeker.toggle_click(this);">recent projects...</a>
          </h3>
        </div>
        <div class="col-md-2" align="right">
          <h3><a title="upload a research project" 
             class="btn btn-success btn-xs" 
             targetid="import_main"
             onclick="ru.cesar.seeker.toggle_click(this);">
            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
          </a></h3>
        </div>
      </div>

      <!-- Allow adding a project -->
      <div id="import_main" class="row hidden container">
        <form action="{% url 'import_file' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <!-- Room for the filename to appear -->
          <div class="col-md-6 form-group" id="main-import_info"
               targetid="project_data_import"
               targeturl="{% url 'import_file' %}">
            <div class="input-group">
              <span>Specify the JSON file that contains the CESAR research project</span>
              <span class="input-group-btn">
                <span class="btn btn-default btn-xs btn-file">
                  Browse...
                  <input id="id_file_source" name="file_source" required="" type="file" oninput="ru.cesar.seeker.import_data('main');" />
                </span>
                <!-- The files that have been selected-->
                <span></span>
              </span>
            </div>
            
          </div>
          <!-- Progress of upload indicator -->
          <div class="col-md-6">
            <progress class="hidden" style="width:100%;" id="main-import_progress" value="0" min="0" max="100"></progress>
          </div>
          <!-- Any error reporting -->
          <div id="main-import_error"></div>
        </form>

        <!-- Import information -->
        <div id="project_data_import" class="project-part hidden"></div>
      </div>

      <!-- Room for errors -->
      <div id="research_err" class="row"></div>

      <!-- The Overall list of projects -->
      <div id="prj-overall-list" class="row hidden" >
        <div class="col-md-12">

          <!-- The contents as a table -->
          <table class="table table-hover research-list">
            <thead>
              <tr>
                <th class="hidden">id</th>
                <!-- <th>Owner</th><th>Type</th><th>Name</th><th>Saved</th><th>Purpose</th> -->
                {% for hd in order_heads %}
                <th class="sortable" scope="col">
                  <div class="text">
                    {% if hd.order == "" %}{{hd.name}}
                    {% else %}
                    <a href=?{{hd.order}}>{{hd.name}}</a>
                    {% endif %}
                    {% if forloop.last %}
                    <span class="pull-right">
                      <a class="btn btn-default btn-xs" title="show all projects" 
                         onclick="ru.cesar.seeker.toggle_prjview(this);">more...</a>
                    </span>
                    {% endif %}
                  </div>
                </th>
                {% endfor %}
                <th style="text-align: center;">Action</th>
              </tr>
            </thead>
            <tbody>
            {% for item in combi_list %}
              <tr class="research-item {% if forloop.counter > 3 %}hidden nonrecent{% endif %}">
                <td class="hidden">{{item.project.id}}</td>
                <td><span class="research-item-user">{{item.project.username}}</span></td>
                <td title="{{item.project.get_targetType_display}}"><span class="research-item-type">{{item.project.get_targetType_display|slice:":4"}}</span></td>
                <td><span class="research-item-name">{{item.project.name}}</span></td>
                <td><span class="research-item-saved tdnowrap">{% if item.project.saved %}{{item.project.saved|date:"j/b/o G:i" }}{% else %}-{% endif %}</span></td>
                <td title="{{item.project.purpose}}" style="width:100%"><span class="research-item-purpose">{{item.project.purpose|truncatechars:85}}</span></td>
                <td class="tdnowrap">
                  <!--<div class="part-buttons">-->
                    <form>
                      {% csrf_token %}
                      <span class="research-item-name ">
                      {% if item.may_write %}
                        <a type="button" title="open" class="btn btn-success btn-xs" href="{% url 'seeker_edit' object_id=item.project.id %}">
                          <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                        </a>
                      {% endif %}
                      </span>
                      {% if item.may_read %}
                        <span class="research-item-copy">
                          <a title="copy" class="btn btn-default btn-xs" 
                             url="{{item.project.get_copy_url}}" 
                             success="{% url 'seeker_list' %}"
                             onclick="ru.cesar.seeker.process_item(this);">
                            <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                          </a>
                          <a title="download as JSON" class="btn btn-default btn-xs" 
                             ajaxurl="{% url 'search_json' object_id=item.project.id %}"
                             downloadtype="json"
                             onclick="ru.cesar.seeker.post_download(this);">
                            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                          </a>
                        </span>
                      {% endif %}
                      <span class="research-item-del ">
                      {% if item.may_delete %}
                        <a title="delete" class="btn btn-warning btn-xs" onclick="ru.cesar.seeker.toggle_del(this);">
                          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                      {% endif %}
                      </span>
                    </form>
                  <!-- </div> -->
                  <div class="part-process hidden"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></div>
                </td>
              </tr>
              <!-- Provide a form row for deletion -->
              <tr class="part-del hidden">
                <td></td>
                <td colspan="3">Are you sure you want to delete the research project named <code>{{item.project.name}}</code>? Note: all associated results will also be deleted</td>
                <td class="tdnowrap">
                  <div class="part-del">
                    <form action="{{item.project.get_delete_url}}" method="post">
                      {% csrf_token %}
                        <a class="btn btn-info btn-xs" onclick="ru.cesar.seeker.toggle_del(this);">cancel</a>
                        <a class="btn btn-danger btn-xs" 
                           url="{{item.project.get_delete_url}}" 
                           success="{% url 'seeker_list' %}"
                           onclick="ru.cesar.seeker.process_item(this);">delete</a>
                    </form>
                  </div>
                  <div class="part-process hidden"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div>
      </div>

      <!-- Hierarchical list of projects -->
      {% if resgroups and resgroups|length > 0 %}
        <table class="func-view">
          <thead>
            <tr>
              <th colspan="{{max_depth|add:"2"}}">
                <span class="func-name">Searches: group view</span>
                <span class="func-link pull-right">
                  <a class="btn btn-xs btn-default func-plus" role="button" title="view all"
                     onclick="ru.cesar.seeker.funchead_click(this, 'func-inline');">+</a>
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
          {% for grp in resgroups %}
            <tr class="{% if grp.depth > 1 %}hidden{% endif %}" nodeid="{{grp.nodeid}}" childof="{{grp.childof}}">
              {% if grp.depth > 1 %}
                <td class="arg-pre" colspan="{{grp.depth|add:"-1"}}" style="min-width: {{grp.minwidth}}px;"></td>
              {% endif %}
              {% if grp.prj %}
                <!-- Continue an existing group -->
                <td class="arg-plus" style="min-width: 20px;" 
                    onclick="crpstudio.htable.plus_click(this, 'func-inline');"></td>
                <td class="prj-text" colspan="{{grp.remainder}}" style="width: 100%;">
                  <span class="arg-line">
                    <code title="The search project starts with {{grp.prj.get_targetType_display}}">{{grp.prj.targetType}}</code>
                  </span>
                  <span class="prj-name"
                        targetid="project-info-{{grp.nodeid}}"
                        onclick="ru.cesar.seeker.toggle_click(this, 'arg-grandchild');">
                    {{grp.prj.name}}
                  </span>
                  <span class="prj-group"
                        targetid="project-group-{{grp.nodeid}}"
                        onclick="ru.cesar.seeker.toggle_click(this, 'arg-grandchild');">
                    <code>{{grp.group}}</code>
                  </span>

                  <span class="pull-right">
                    {% if grp.may_read %}
                      <code title="reading rights">r</code>
                      {% if grp.may_write %}<code title="writing rights">w</code>{% endif %}
                      {% if grp.may_delete %}<code title="delete rights">d</code>{% endif %}
                    {% else %}
                      <code title="no reading rights - consult the user">n</code>
                    {% endif %}
                  </span>
                </td>
                <td>
                  <span class="research-item-created tdnowrap pull-right" title="Project creation date">
                    {% if grp.prj.created %}{{grp.prj.created|date:"j/b/o G:i" }}{% else %}-{% endif %}
                  </span>
                </td>
              {% else %}
                <!-- Start a new group at level [depth] -->
                <td class="arg-plus" style="min-width: 20px;" 
                    onclick="crpstudio.htable.plus_click(this, 'func-inline');">+</td>
                <td class="prj-text" colspan="{{grp.remainder}}" style="width: 100%;">
                  <span class="arg-line">
                    <code>{{grp.group}}</code>
                  </span>
                </td>
                <td></td>
              {% endif %}
            </tr>
            <!-- Each project line must have a hidden line with the possibility to change its search group -->
            {% if grp.prj  and grp.user == currentuser %}
              <tr class="hidden arg-grandchild" id="project-group-{{grp.nodeid}}" childof="{{grp.childof}}">
                {% if grp.depth > 1 %}
                  <td class="arg-pre" colspan="{{grp.depth}}" style="min-width: {{grp.minwidth|add:"20"}}px;"></td>
                {% endif %}
                <td colspan="{{grp.remainder}}" style="width: 100%;" >
                  <div class="row">
                    <div class="col-md-3">Change the search group:</div>
                    <div class="col-md-9">
                    <form>
                      {% csrf_token %}
                      <input id="id_prj-fname-{{grp.prj.id}}" name="prj-fname-{{grp.prj.id}}" class="hidden" type="text" value="group_id" />
                      <span>
                        <select class="input-xs" id="id_prj-fvalue-{{grp.prj.id}}" name="prj-fvalue-{{grp.prj.id}}">
                          {% for g in sgroup_list %}
                          <option value="{{g.id}}" >{{g.name}}</option>
                          {% endfor %}
                        </select>
                    
                        <span>
                          <a class="btn btn-success btn-xs" 
                             title="save search group change" 
                             onclick="ru.cesar.seeker.field_update(this, 'save');"
                             msgid="id_prj-fmsg-{{grp.prj.id}}"
                             ajaxurl="{% url 'research_field' object_id=grp.prj.id %}">
                            <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                          </a>
                        </span>
                        <span>
                          <a class="btn btn-success btn-xs" 
                             title="remove group from this search" 
                             onclick="ru.cesar.seeker.field_update(this, 'delete');"
                             msgid="id_prj-fmsg-{{grp.prj.id}}"
                             ajaxurl="{% url 'research_field' object_id=grp.prj.id %}">
                            <span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span>
                          </a>
                        </span>
                        <span id="id_prj-fmsg-{{grp.prj.id}}"></span>
                      </span>
                    </form>
                    </div>
                  </div>
                </td>
                <td></td>
              </tr>
            {% endif %}
            <!-- Each project line must have a hidden line with the additional project information and action buttons -->
            {% if grp.prj  %}
              <tr class="hidden arg-grandchild" id="project-info-{{grp.nodeid}}" childof="{{grp.childof}}">
                {% if grp.depth > 1 %}
                  <td class="arg-pre" colspan="{{grp.depth}}" style="min-width: {{grp.minwidth|add:"20"}}px;"></td>
                {% endif %}
                <td colspan="{{grp.remainder}}" style="width: 100%;" >
                  <!--<div class="part-buttons">-->
                  <div class="row">
                    <form>
                      {% csrf_token %}
                      <div class="col-md-2">
                        <span class="research-item-name ">
                        {% if grp.may_write %}
                          <a type="button" title="open" class="btn btn-success btn-xs" href="{% url 'seeker_edit' object_id=grp.prj.id %}">
                            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                          </a>
                        {% endif %}
                        </span>
                        {% if grp.may_read %}
                          <span class="research-item-copy">
                            <a title="copy" class="btn btn-default btn-xs" 
                                url="{{grp.prj.get_copy_url}}" 
                                success="{% url 'seeker_list' %}"
                                onclick="ru.cesar.seeker.process_item(this);">
                              <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                            </a>
                            <a title="download as JSON" class="btn btn-default btn-xs" 
                                ajaxurl="{% url 'search_json' object_id=grp.prj.id %}"
                                downloadtype="json"
                                onclick="ru.cesar.seeker.post_download(this);">
                              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                            </a>
                          </span>
                        {% endif %}
                        <span class="research-item-del ">
                        {% if grp.may_delete %}
                          <a title="delete" class="btn btn-warning btn-xs" onclick="ru.cesar.seeker.toggle_del(this);">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                          </a>
                        {% endif %}
                        </span>
                      </div>
                      <div class="col-md-10">
                        <!-- Always show the purpose -->
                        <span class="prj-text">{{grp.prj.purpose}}</span>
                      </div>
                    </form>
                  </div>
                  <!-- </div> -->
                  <div class="part-process hidden"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></div>
                </td>
                <td>
                  <span class="research-item-saved tdnowrap pull-right" title="Date last saved">
                    {% if grp.prj.saved %}{{grp.prj.saved|date:"j/b/o G:i" }}{% else %}-{% endif %}
                  </span>
                </td>
              </tr>

              <!-- Each project line also has an area where the deletion process can take place -->
              <tr class="part-del arg-grandchild hidden" childof="{{grp.childof}}">
                {% if grp.depth > 1 %}
                  <td class="arg-pre" colspan="{{grp.depth}}" style="min-width: {{grp.minwidth|add:"20"}}px;"></td>
                {% endif %}
                <td colspan="{{grp.remainder}}">
                  <p align="right">Are you sure you want to delete the research project named <code>{{grp.prj.name}}</code>?</p>
                  <p align="right"><u>Note</u>: all associated results will be deleted as well.</p>
                </td>
                <td class="tdnowrap" colspan="1">
                  <div class="part-del">
                    <form action="{{grp.prj.get_delete_url}}" method="post">
                      {% csrf_token %}
                        <a class="btn btn-info btn-xs" onclick="ru.cesar.seeker.toggle_del(this);">cancel</a>
                        <a class="btn btn-danger btn-xs" 
                            url="{{grp.prj.get_delete_url}}" 
                            success="{% url 'seeker_list' %}"
                            onclick="ru.cesar.seeker.process_item(this);">delete</a>
                    </form>
                  </div>
                  <div class="part-process hidden"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></div>
                </td>
              </tr>
            {% endif %}

          {% endfor %}
          </tbody>
        </table>
      {% endif %}

      {% else %}
        <p>{% trans "No research projects are available" %}.</p>
      {% endif %}
    {% else %}
    <div class="explanation">
      <p>Dear user, you are <b>not</b> logged in.</p>
      <p>Unfortunately this means that you will not be able to see any of the searches created by the users of Cesar.</p>
      <p>Should you want to work with Cesar, then here are your options:
        <ul>
          <li><a class="btn btn-info btn-xs" href="{% url 'login' %}">Login</a> - if you already have an account</li> 
          <li><a class="btn btn-warning btn-xs" href="{% url 'signup' %}">Sign up</a> - if you don't have an account yet</li>
        </ul>
      </p>
    </div>
    {% endif %}

  </div>


{% endblock content %}
