{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
      <a href="{% url 'home' %}">Home</a>
      &rsaquo; Search
  </div>
{% endblock %}

{% block content %}

  <div class="container body-content">
    <div class="panel panel-default">
      <form name="researchsearch" id="researchsearch" action="" method="get"  
                onsubmit="return do_search('#id_submit_button', 'research', 'simple');" >
        <!-- EK: A sort-order specification is in a hidden form field, which is filled by JS:do_sort_column() -->
        <div class="hidden">
          <input name='sortOrder' class='form-control' value='name' >
          <input id="submit_type" name='submit_type' class='form-control' value='simple'>
        </div>
      </form>
    </div>

    {% if object_list %}
      <h3>Research project overview</h3>
      <!-- The contents as a table -->
      <table class="table table-hover">
        <thead><tr><th class="hidden">id</th><th>Owner</th><th>Type</th><th>Name</th><th>Purpose</th><th>Action</th></tr></thead>
        <tbody>
        {% for item in object_list %}
          <tr class="part-item">
            <td class="hidden">{{item.id}}</td>
            <td><span class="research-item-user">{{item.username}}</span></td>
            <td><span class="research-item-type">{{item.get_targetType_display}}</span></td>
            <td><span class="research-item-name">{{item.name}}</span></td>
            <td><span class="research-item-purpose">{{item.purpose}}</span></td>
            <td class="tdnowrap">
              <div>
                <span class="research-item-name">
                  <a class="btn btn-success btn-xs" href="{% url 'seeker_edit' object_id=item.id %}">edit</a>
                </span>
                <span class="research-item-copy">
                  <a class="btn btn-default btn-xs" href="{% url 'seeker_copy' object_id=item.id %}?listtype=copy">copy</a>
                </span>
                <span class="research-item-copy">
                  <a class="btn btn-warning btn-xs" href="{% url 'seeker_copy' object_id=item.id %}?listtype=del">old</a>
                  <a class="btn btn-warning btn-xs" onclick="ru.cesar.seeker.toggle_del(this);">delete</a>
                </span>
              </div>
              {% if copyerror %}
              <div><code>{{copyerror}}</code></div>
              {% endif %}
            </td>
          </tr>
          <!-- Provide a form row for deletion -->
          <tr class="part-del hidden">
            <td colspan="5">
              <div>
                <form action="{{item.get_delete_url}}" method="post">
                  {% csrf_token %}
                    <p>Are you sure you want to delete the research project named <code>{{item.name}}</code>?
                    <a class="btn btn-success btn-xs" onclick="ru.cesar.seeker.toggle_del(this);">Cancel</a>
                    <a class="btn btn-warning btn-xs" href="{% url 'seeker_delete' object_id=item.id %}">Delete</a>
                    </p>
                </form>
              </div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>{% trans "No research projects are available" %}.</p>
    {% endif %}

  </div>


{% endblock content %}
