{% load i18n %}

<form action="" method="post">
    {% csrf_token %}
    <!-- Part 1: select the TYPE of the construction's main element -->
    <div id="research_part_1">
      <div class="explanation up">
      <p><b>About:</b> Provide essential information on this search project.</p>
      </div>
      <table>
        <tr><td>Project name:</td><td>{{researchForm.name}}</td></tr>
        <tr><td>Purpose:</td><td>{{researchForm.purpose}}</td></tr>
        <tr><td>Main element type:</td><td>{{researchForm.targetType}}</td></tr>
        <tr><td>Created:</td><td>{% if researchForm.instance.created %}{{researchForm.instance.created|date:"j/b/o G:i" }}{% else %}-{% endif %}</td></tr>
        <tr><td>Last saved:</td><td>{% if researchForm.instance.saved %}{{researchForm.instance.saved|date:"j/b/o G:i" }}{% else %}-{% endif %}</td></tr>
      </table>

      <!-- GATEWAY specification is hidden -->
      <div id="research_gateway" class="hidden">
          {{gatewayForm}}
        {{gatewayForm.id}}
      </div>

      <!-- SHAREGROUP specification: multiple options -->
      
      <div id="research_part_3"
           class="row js-inline-formset inline-group panel panel-default {% if not object_id %}hidden{% endif %}"
           data-inline-type="tabular"
           data-inline-formset="{{shareg_formset.inline_formset_data}}">
          <!-- GLOBAL VARIABLE specification -->
          <div id="research_shareg" class="tabular inline-related">
            {{shareg_formset.management_form}}
              <fieldset class="module {{shareg_formset.classes}}">
                <div class="explanation">
                  <p>Specify which other users you would like to give permission to either view or even edit your projects. </p>
                </div>
                <table>
                  <thead><tr><th>Name</th><th>Description</th><th>DELETE?</th></tr></thead>
                  <tbody>
                    {% for shareg_this in shareg_formset %}
                    <tr class="form-row">
                      <td class="hidden">{{shareg_this.id}}</td>
                      <td valign="top">{{shareg_this.group}}</td>
                      <td valign="top">{{shareg_this.permission}}</td>
                      <td valign="top">{{shareg_this.DELETE}}</td>
                    </tr>
                    {% endfor %}
                    {% if currentowner == user %}
                      <tr id="arguments-empty" class="form-row empty-form row1">
                        <td class="hidden">{{shareg_formset.empty_form.id}}</td>
                        <td valign="top">{{shareg_formset.empty_form.group}}</td>
                        <td valign="top">{{shareg_formset.empty_form.permission}}</td>
                        <td valign="top" align="center">{{shareg_formset.empty_form.DELETE}}</td>
                      </tr>
                      <tr class="add-row">
                        <td colspan="4">
                          <a href="#"><span class="glyphicon glyphicon-plus">&nbsp;</span>Share with another group</a>
                        </td>
                      </tr>
                    {% endif %}
                  </tbody>
                </table>
              </fieldset>
          </div>
      </div>



      <!-- Show ERRORS if needed -->
      <div id="research_err">
        {% for item in error_list %}
        {{item}}
        {% endfor %}
      </div>

      <!-- Provide SAVE button (verification is done on the server) -->
      <div class="submit-row">
        <span class="save-warning">{% if savedate %}{{savedate}}{% endif %}</span>
        <a class="btn btn-primary ajaxform"
                instanceid="{{researchForm.instance.id}}"
                openid="research_container_1" 
                ajaxurl="{% if object_id %}{% url 'research_part_1' object_id %}{% else %}{% url 'research_part_1' %}{% endif %}"
                data="">{% trans 'Save' %}</a>
      </div>
    </div>
</form>
