{% load i18n %}

<form action="" method="post">
    {% csrf_token %}
    <!-- Part 2: One or more search elements -->
    <div id="research_part_2">

      <!-- Need to have the management forms of both formsets -->
      {{ wrdconstruction_formset.management_form }}
      {{ cnsconstruction_formset.management_form }}

      {% if targettype == 'w' %}
        <div class="js-inline-formset inline-group"
            data-inline-type="tabular"
            data-inline-formset="{{wrdconstruction_formset.inline_formset_data}}">

          <div class="explanation up">
            <p><b>Define </b>which words need to be found</p>
            <p>Provide one or more word-based search element(s):</p>
            <ul class="list-unstyled">
              <li><span>&bull; &nbsp;</span>If a search element consists of more words, put them on one line.</li>
              <li><span>&bull; &nbsp;</span>If a search element can be one of a set of words,
              put those words on separate lines.</li>
            </ul>
          </div>

          <!-- WORD search elements -->
          <div id="research_intro-wrd" class="research-wrd tabular inline-related">
              <fieldset class="module {{wrdconstruction_formset.classes}}">
              <table>
                <thead><tr><th>#</th><th>Name</th><th>Word(s)</th>{% if currentowner == user %}<th align="center">DELETE?</th>{% endif %}</tr></thead>
                <tbody>
                  {% for wrd_form in wrdconstruction_formset %}
                  <tr class="form-row">
                    <td class="hidden">{{wrd_form.id}}</td>
                    <td valign="top" class="col-ru-1">{{forloop.counter}}</td>
                    <td valign="top" class="col-ru-2">{{wrd_form.name}}</td>
                    <td valign="top" class="col-ru-8">{{wrd_form.value}}</td>
                    {% if currentowner == user %}
                    <td valign="top" align="center" class="col-ru-1">{{wrd_form.DELETE}}</td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                  {% if currentowner == user %}
                  <tr id="arguments-empty" class="form-row empty-form row1">
                      <td class="hidden">{{wrdconstruction_formset.empty_form.id}}</td>
                      <td valign="top" class="col-ru-1">__counter__</td>
                      <td valign="top" class="col-ru-2">{{wrdconstruction_formset.empty_form.name}}</td>
                      <td valign="top" class="col-ru-8">{{wrdconstruction_formset.empty_form.value}}</td>
                      <td valign="top" align="center" class="col-ru-1">{{wrdconstruction_formset.empty_form.DELETE}}</td>
                  </tr>
                  <tr class="add-row">
                    <td colspan="4">
                      <a href="#"><span class="glyphicon glyphicon-plus">&nbsp;</span>Add another search element option</a>
                    </td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </fieldset>
          </div>
        </div>

      {% elif targettype == 'c' %}
        <div class="js-inline-formset inline-group"
            data-inline-type="tabular"
            data-inline-formset="{{cnsconstruction_formset.inline_formset_data}}">

          <div class="explanation up">
            <p><b>Define </b>which constituents need to be found</p>
            <p>Provide one constituent-based search element(s) per group.
              Such a search group consists of:
              <ul>
                  <li><b>Name</b>: the name of this search group</li>
                  <li><b>Category</b>: one or more syntactic categories to look for (e.g. <code>IP-MAT|IP-SUB</code>)
                    The categories may contain <code>*</code> as a wildcard, 
                    and the different options need to be separated by a <code>|</code> vertical bar.
                  </li>
                  <li><b>Exclude</b>: one or more syntactic categories that need to be excluded (e.g. <code>*-PRN</code>).
                    This is optional and can be left empty.
                  </li>
              </ul>
            </p>
            <p>Each search construction starts out with definining the characteristics of one constituent.
              Further conditions for the construction need to be added ad the <b>Conditions</b> section.
              Conditions can be made e.g. on the presence or absence of related constituents (children, grandchildren, siblings and so forth).
              </p>
          </div>

          <!-- CONSTITUENT search elements -->
          <div id="research_intro-cns" class="research-cns tabular inline-related">
            <fieldset class="module {{cnsconstruction_formset.classes}}">
              <table>
                <thead><tr><th>#</th><th>Name</th><th>Category</th><th>[Exclude]</th>{% if currentowner == user %}<th align="center">DELETE?</th>{% endif %}</tr></thead>
                <tbody>
                  {% for cns_form in cnsconstruction_formset %}
                  <tr class="form-row">
                    <td class="hidden">{{cns_form.id}}</td>
                    <td valign="top" class="col-ru-1">{{forloop.counter}}</td>
                    <td valign="top" class="col-ru-2">{{cns_form.name}}</td>
                    <td valign="top" class="col-ru-4">{{cns_form.cat_incl}}</td>
                    <td valign="top" class="col-ru-4">{{cns_form.cat_excl}}</td>
                    {% if currentowner == user %}
                    <td valign="top" align="center" class="col-ru-1">{{cns_form.DELETE}}</td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                  {% if currentowner == user %}
                  <tr id="arguments-empty" class="form-row empty-form row1">
                      <td class="hidden">{{cnsconstruction_formset.empty_form.id}}</td>
                      <td valign="top" class="col-ru-1">__counter__</td>
                      <td valign="top" class="col-ru-2">{{cnsconstruction_formset.empty_form.name}}</td>
                      <td valign="top" class="col-ru-4">{{cnsconstruction_formset.empty_form.cat_incl}}</td>
                      <td valign="top" class="col-ru-4">{{cnsconstruction_formset.empty_form.cat_excl}}</td>
                      <td valign="top" align="center" class="col-ru-1">{{cnsconstruction_formset.empty_form.DELETE}}</td>
                  </tr>
                  <tr class="add-row">
                    <td colspan="4">
                      <a href="#"><span class="glyphicon glyphicon-plus">&nbsp;</span>Add another search element option</a>
                    </td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </fieldset>
          </div>
        </div>
      {% endif %}

      <!-- Show ERRORS if needed -->
      <div id="research_err">
        {% for item in error_list %}
        {{item}}
        {% endfor %}
      </div>

      <!-- Show the buttons to save, cancel, delete and so forth -->
      <!-- USED TO BE: [include "submit_row.html" with currentowner=form.instance.owner] -->
      <!-- Provide SAVE button (verification is done on the server) -->
      <div class="submit-row">
        <button type="button" class="btn btn-primary ajaxform"
                instanceid="{{object_id}}"
                openid="research_container_2" 
                ajaxurl="{% if object_id %}{% url 'research_part_2' object_id %}{% else %}{% url 'research_part_2' %}{% endif %}"
                data="">{% trans 'Save' %}</button>
        <div class="save-warning">{% if savedate %}{{savedate}}{% endif %}</div>
      </div>

    </div>
</form>
