{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
      <a href="{% url 'home' %}">Home</a>
      &rsaquo; <a href="{% url 'seeker_list' %}">Search</a>
      &rsaquo; {{intro_breadcrumb}}
  </div>
{% endblock %}

{% block content %}

  <!-- Contents -->
  <div class="container body-content">    
    <h3>
      <!-- Main title -->
      <span id="search_mode">Simple search</span>
      <!-- buttons to the right-->
      <span class="pull-right">

        <!-- Button to save a simple search -->
        <a class="btn jumbo-3 btn-xs"
           id="simple_save_switch"
           targetid="keep_simple_search"
           title="Show the simple search save dialog"
           onclick="ru.cesar.seeker.toggle_click(this, 'post-save', 'pre-save');">
          <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
        </a>

        <!-- button to switch extended/simple search -->
        <a class="btn btn-success btn-xs" 
           id="search_mode_switch"
           title="Switch to extended search" 
           onclick="ru.cesar.seeker.switch_mode(this, '#search_mode');">
          <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>
        </a>
      </span>
    </h3>
    <!-- <p>{{intro_message|safe}}</p> -->
    <div id="research_err">
      {% for item in error_list %}
      {{item}}
      {% endfor %}
    </div>

    <!-- Dashboard to specify the corpus and then execute the search -->
    <div id="exe_dashboard" >
      <form action="" method="post" class="noblurring">
        {% csrf_token %}
        
        <!-- Need to have the management forms of both formsets -->
        {{ related_formset.management_form }}

        <!-- Search word(s) -->
        <div class="row container">
          <div class="col-md-9 panel panel-default">
            <div>&nbsp;</div>

            <!-- hidden input-->
            <div id="" class="hidden">
              <input id="id_targetType" name="targetType" type="text" value="{{simpleform.targetType.value}}" />
              <input name="is_simple_search" type="text" value="yes" />
            </div>

            <!-- Simple search mode -->
            <div id="search_mode_simple">
              <!-- Table for input -->
              <table class="func-view compact-simple">
                <tbody>
                  <!-- Table header -->
                  <tr class="tablefield">
                    <td colspan="4">Search through the texts, looking for... </td>
                  </tr>

                  <!-- Looking for a word -->
                  <tr id="simple_specify_w" class="tablefield simple-search-1">
                    <td class="tdnowrap vmiddle" title="A word (with wildcards) or a small phrase">Word or phrase:</td>
                    <td colspan="3" style="width: 100%;">{{simpleform.searchwords}}</td>
                  </tr>

                  <!-- Looking for a POS-tag -->
                  <tr id="simple_specify_c" class="tablefield simple-search-2 hidden">
                    <td class="tdnowrap vmiddle" >Constituent category:</td>
                    <td style="width: 50%;">{{simpleform.searchpos}}</td>
                    <td class="tdnowrap vmiddle" title="A constituent category to be excluded (use wildcards if needed)">Excluding:</td>
                    <td style="width: 50%;">{{simpleform.searchexc}}</td>
                  </tr>
                  <!-- Looking for a lemma -->
                  <tr id="simple_specify_l" class="tablefield simple-search-2 hidden">
                    <td class="tdnowrap vmiddle" title="A lemma (use wildcards if needed)">Lemma:</td>
                    <td colspan="3" style="width: 100%;">{{simpleform.searchlemma}}</td>
                  </tr>

                  <!-- Hidden row with a table for related constituent specifications -->
                  <tr id="related_constituents" class="hidden">
                    <td colspan="4">
                      <table class="">
                        <thead>
                          <tr>
                            <th colspan="2">#</th>
                            <th style="min-width: 165px;">Name</th>
                            <th style="width: 100%;">How it is related</th>
                            <!-- Column for button(s)-->
                            <th>
                              <!-- Provide a button to toggle 'more options' -->
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- Copy from the formset -->
                          {% for rel_form in related_formset %}
                          <tr class="form-row rel-form">
                            <td valign="top" style="min-width: 20px;">
                              <span>{{forloop.counter}}</span>
                            </td>
                            <td valign="top" style="min-width: 20px;">
                              <span class="rel-edit-open">
                                <a href="#" onclick="ru.cesar.seeker.rel_row_edit(this, 'open');"><span class="glyphicon glyphicon-pencil"></span></a>
                              </span>
                              <span class="rel-edit-close hidden">
                                <a href="#" onclick="ru.cesar.seeker.rel_row_edit(this, 'close');"><span class="glyphicon glyphicon-ok"></span></a>
                              </span>
                            </td>
                            <td valign="top" class="rel-name">
                              <div class="rel-view-mode kwname">{{rel_form.name.value}}</div>                              
                              <div class="rel-edit-mode hidden">{{rel_form.name}}</div>
                              <div class="rel-name-err hidden">GIVE A NAME</div>
                            </td>
                            <!-- Definition cell -->
                            <td valign="top">
                              <!-- View mode -->
                              <div class="rel-view-mode rel-descr">
                                {% include 'seeker/related_row.html' with rel_form=rel_form %}
                              </div>
                              <!-- Edit mode -->
                              <div class="rel-edit-mode hidden" >
                                <table style="width: 100%;">
                                  <tbody>
                                    <tr>
                                      <td style="min-width: 140px; width: 140px;">it is a</td>
                                      <td>{{rel_form.raxis}} of <span class="rel-towards">{{rel_form.towards}}</span></td>
                                      <td align="right">
                                        <a class="btn btn-xs jumbo-1" role="button" title="Syntactic category" onclick="ru.cesar.seeker.rel_row_extra(this, 'rel-cat');">C</a>
                                        <a class="btn btn-xs jumbo-1" role="button" title="Position" onclick="ru.cesar.seeker.rel_row_extra(this, 'rel-pos');">P</a>
                                        <a class="btn btn-xs jumbo-1" role="button" title="Text of constituent" onclick="ru.cesar.seeker.rel_row_extra(this, 'rel-text');">T</a>
                                        <a class="btn btn-xs jumbo-1" role="button" title="Lemma" onclick="ru.cesar.seeker.rel_row_extra(this, 'rel-lemma');">L</a>
                                      </td>
                                    </tr>
                                    <tr class="rel-cat hidden"><td>its syntactic category is</td><td colspan="2" style="width: 100%;">{{rel_form.cat}}</td></tr>
                                    <tr class="rel-text hidden"><td>its text is like</td><td colspan="2" style="width: 100%;">{{rel_form.reltext}}</td></tr>
                                    <tr class="rel-lemma hidden"><td>its lemma is</td><td colspan="2" style="width: 100%;">{{rel_form.rellemma}}</td></tr>
                                    <tr class="rel-pos hidden"><td>its position is</td><td colspan="2" >{{rel_form.pos}}, skipping {{rel_form.skip}}</td></tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                            <td title="Delete this relation" style="vertical-align: middle;">
                              <a href="#" class="delete-row"><span class="glyphicon glyphicon-remove">&nbsp;</span></a>
                            </td>
                          </tr>
                          {% endfor %}

                          <!-- Empty row with related constituent specification-->
                          <tr class="form-row empty-form rel-form row1">
                            <td valign="top" style="min-width: 20px;">
                              <span>__counter__</span>
                            </td>
                            <td valign="top" style="min-width: 20px;">
                              <span class="rel-edit-open hidden">
                                <a href="#" onclick="ru.cesar.seeker.rel_row_edit(this, 'open');"><span class="glyphicon glyphicon-pencil"></span></a>
                              </span>
                              <span class="rel-edit-close">
                                <a href="#" onclick="ru.cesar.seeker.rel_row_edit(this, 'close');"><span class="glyphicon glyphicon-ok"></span></a>
                              </span>
                            </td>
                            <td valign="top" class="rel-name">
                              <div class="rel-view-mode kwname hidden">{{related_formset.empty_form.name.value}}</div>                              
                              <div class="rel-edit-mode">{{related_formset.empty_form.name}}</div>
                              <div class="rel-name-err hidden">GIVE A NAME</div>
                            </td>
                            <!-- Definition cell -->
                            <td valign="top">
                              <!-- View mode -->
                              <div class="rel-view-mode rel-descr hidden">
                                <!-- This will be filled in later -->
                              </div>
                              <!-- Edit mode -->
                              <div class="rel-edit-mode" >
                                <table style="width: 100%;">
                                  <tbody>
                                    <tr>
                                      <td style="min-width: 140px; width: 140px;">it is a</td>
                                      <td>{{related_formset.empty_form.raxis}} of <span class="rel-towards">{{related_formset.empty_form.towards}}</span></td>
                                      <td align="right">
                                        <a class="btn btn-xs jumbo-1" role="button" title="Syntactic category" onclick="ru.cesar.seeker.rel_row_extra(this, 'rel-cat');">C</a>
                                        <a class="btn btn-xs jumbo-1" role="button" title="Position" onclick="ru.cesar.seeker.rel_row_extra(this, 'rel-pos');">P</a>
                                        <a class="btn btn-xs jumbo-1" role="button" title="Text of constituent" onclick="ru.cesar.seeker.rel_row_extra(this, 'rel-text');">T</a>
                                        <a class="btn btn-xs jumbo-1" role="button" title="Lemma" onclick="ru.cesar.seeker.rel_row_extra(this, 'rel-lemma');">L</a>
                                      </td>
                                    </tr>
                                    <tr class="rel-cat hidden"><td>its syntactic category is</td><td colspan="2" style="width: 100%;">{{related_formset.empty_form.cat}}</td></tr>
                                    <tr class="rel-text hidden"><td>its text is like</td><td colspan="2" style="width: 100%;">{{related_formset.empty_form.reltext}}</td></tr>
                                    <tr class="rel-lemma hidden"><td>its lemma is</td><td colspan="2" style="width: 100%;">{{related_formset.empty_form.rellemma}}</td></tr>
                                    <tr class="rel-pos hidden"><td>its position is</td><td colspan="2" >{{related_formset.empty_form.pos}}, skipping {{related_formset.empty_form.skip}}</td></tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                            <td title="Delete this relation" style="vertical-align: middle; text-align: center;">
                              <a href="#" class="delete-row"><span class="glyphicon glyphicon-remove">&nbsp;</span></a>
                            </td>
                          </tr>

                          <!-- Row with the PLUS sign-->
                          <tr class="add-row">
                            <td colspan="8">
                              <span id="add_related_constituent">
                                <a href="#"><span class="glyphicon glyphicon-plus">&nbsp;</span>Add a related constituent</a>
                              </span>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </td>
                  </tr>

                  <!-- Button row-->
                  <tr>
                    <td colspan="4">
                      <span>
                        <a id="add_related"
                           onclick="ru.cesar.seeker.related_switch(this, 'related_constituents', 'no related');"
                           targeturl="{% url 'seeker_simple' %}"
                           class="btn btn-xs jumbo-1"
                           title="Add related constituents">related</a>
                      </span>
                      <!-- Errors while saving -->
                      <span id="simple_modifying"></span>
                      <span class="pull-right">
                        <a id="simple_more" 
                           onclick="ru.cesar.seeker.simple_switch(this, 'more');"
                           targeturl="{% url 'seeker_simple' %}"
                           title="Let me to specify more" 
                           class="btn jumbo-1 btn-xs">more</a>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>


            <!-- Extended search mode -->
            <div id="search_mode_extended" class="hidden">
              <!-- Table for input -->
              <table class="func-view">
                <tbody>
                  <!-- Table header -->
                  <tr class="tablefield">
                    <td colspan="4">Please enter the search code in the Cesar CQL-type fashion </td>
                  </tr>

                  <!-- Looking for a word -->
                  <tr id="extended_specify_" class="tablefield">
                    <td class="tdnowrap" valign="top" title="Your Cesar CQL code">Code:</td>
                    <td colspan="3" style="width: 100%;">{{simpleform.searchcql}}</td>
                  </tr>

                </tbody>
              </table>

            </div>

            <!-- Empty space -->
            <div>&nbsp;</div>

            <!-- Room to save a simple search -->
            <div id="keep_simple_search" class="hidden">

              <!-- Naming-->
              <div class="pre-save">
                <table style="width: 100%;">
                  <tbody>
                    <tr class="tablefield">
                      <!-- Label-->
                      <td class="tdnowrap vmiddle">Name:</td>
                      <!-- Room for the name -->
                      <td style="width: 100%;">
                        <input id="id_savebaresimple" name="savebaresimple" value="" type="text">
                      </td>
                      <!-- Button -->
                      <td align="right">
                        <button type="button" class="btn jumbo-3" id="simple_baresaveas" 
                                title="Save simple search with this name"
                                ajaxurl="{% url 'simple_baresave' %}"
                                onclick="ru.cesar.seeker.simple_save(this, 'bare');">Save</button>
                      </td>
                    </tr>
                    <tr class="tablefield">
                      <td class="tdnowrap vmiddle">Overwrite if exists</td>
                      <td align="left">
                        <input id="id_overwrite" name="overwrite" type="checkbox" value="true" checked="" />
                      </td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              <!-- Results -->
              <div id="baresimple_result" class="post-save">

              </div>

            </div>
          </div>
        </div>

        <!-- Corpus selection and execution -->
        <div class="row container">
          <div class="col-md-5 panel panel-default">
            <div >
              <span><b>Corpus</b></span>
              <span class="pull-right">
                <a class="btn btn-default btn-xs" id="search_refine"
                    title="refine this search"
                    targetid="search_refine_group"
                    onclick="ru.cesar.seeker.toggle_click(this);">refine...</a>
              </span>
            </div>

            <div class="input-group input-group-sm">
              <!-- Storage for chosen corpus part -->
              <div class="hidden">
                <input name='searchPart' id='searchPart' class='form-control' value='' >
                <input name='searchFormat' class='form-control' value='folia' >
              </div>
      
              <!-- Let user choose a corpus-part -->
              <label class='input-group-addon' for='part'>Search in</label>
              <select class="form-control" name="select_part" id="select_part" 
                      onchange="ru.cesar.seeker.corpus_choice(this, 'select_corpus_choice');">
                <option value="">-</option>
                {% for opt in part_list %}
                  {% if opt.corpus_lng.first %}
                    <optgroup label="{{opt.entry.language}}">
                  {% endif %}
                    <option value="{{opt.entry.id}}" {% if opt.entry.id == partchoice %} selected {% endif %}>{{opt.entry.name}}</option>
                  {% if opt.corpus_lng.last %}
                    </optgroup>
                  {% endif %}
                {% endfor %}
              </select>
            </div>

            <!-- Refining a search -->
            <div class="hidden" id="search_refine_group">
              <!-- Specify number of (randomly chosen) texts -->
              <table>
                <tr>
                  <td>Text selection:</td>
                  <td>
                    <select class="form-control" name="search_type" id="search_type"
                            onchange="ru.cesar.seeker.corpus_refine(this, 'search_count_row');">
                      <option value="">-</option>
                      {% for opt in search_type %}
                      <option value="{{opt.value}}">{{opt.name}}</option>
                      {% endfor %}
                    </select>
                  </td>
                </tr>
                <tr id="search_count_row" class="hidden"><td>Number of texts:</td><td><input id="search_count" maxlength="20" name="search_count" value="{{search_count}}" type="text" /></td></tr>
              </table>
              <div class="input-group input-group-sm">
              </div>
            </div>

            <div id="select_corpus_choice" class="row">
              <!-- This is where the details of the chosen corpus will appear-->
              <div class="row">&nbsp;</div>
            </div>

          </div>

          {% if object_id %}
          <div class="col-md-3 col-md-offset-1 panel panel-default">
            <b>Action</b>
            <div class="row">

              <div class="col-md-2 ">
                <button type="button" class="btn jumbo-3" id="research_start" 
                        title="Start searching the corpus"
                        ajaxurl="{% url 'search_prepare' object_id %}"
                        onclick="ru.cesar.seeker.search_start(this, ru.cesar.seeker.save_as);">Start</button>
              </div>

              <div class="col-md-offset-4 col-md-2 ">
                <button type="button" class="btn jumbo-4 hidden" id="research_stop" 
                        ajaxurl="{% url 'search_stop' object_id %}"
                        onclick="ru.cesar.seeker.search_stop(this);">Stop</button>
                <a class="btn jumbo-2 hidden" id="research_results"
                    type="button" title="show results"
                    href="">Results</a>
              </div>


            </div>
            <div class="row">&nbsp;</div>
          </div>
          {% endif %}
        </div>
      </form>

      <div class="row container">
        <!-- Progress-->
        <div class="col-md-9 panel panel-default">
          <span><b>Progress</b></span>
          <!-- Save button is shown upon completion -->
          <span id="save_as" class="pull-right hidden">
                <a class="btn jumbo-1 btn-xs" title="let me save this search as an ADVANCED search" 
                   targetid="save-as-service"
                   onclick="ru.cesar.seeker.toggle_click(this);">keep this as advanced search...</a>

          </span>

          <!-- Progress of the search-->
          <div class="row">
            <div id="research_progress" class="col-md-12">
              <div class="explanation">Select a corpus and press 'Start'. Progress indications will appear here.</div>
            </div>
          </div>
          <div class="row">&nbsp;</div>
          <div class="row">&nbsp;</div>
        </div>

      </div>

    </div>

  </div>

<script>
  ru.cesar.seeker.init_events();
  ru.cesar.seeker.init_simple();
</script>

{% endblock content %}

