{% load i18n %}
<div class="research_part">
  <span class="hidden">[7]</span>
  

  <form action="" method="post">
    {% csrf_token %}
    <!-- Part 7: Search hit features -->
    <div id="research_part_7" 
          class="js-inline-formset inline-group panel panel-default"
          data-inline-type="tabular"
          data-inline-formset="{{feat_formset.inline_formset_data}}">

      <!-- List of all features that are defined by the user -->
      <div class="row">
        <div id="research_feat" class="col-md-11 tabular inline-related">
          {{feat_formset.management_form}}
          <fieldset class="module {{feat_formset.classes}}">
            <div class="explanation">
              <p>Specify the features that should accompany each search hit.
                Note that features may only be <em>strings</em> (text).
                No features of other types (e.g. boolean, number, node) are allowed.</p>
            </div>
            <table>
              <thead><tr><th>#</th><th>Name</th><th>Description</th><th>Feature type</th><th>Value</th><th>Include</th><th>DELETE</th></tr></thead>
              <tbody>
                {% for feat_form in feat_ordered %}
                  <tr class="form-row feat-item">
                    <td class="hidden">{{feat_form.id}}</td>
                    <td valign="top" class="counter">{{forloop.counter}}</td>
                    <td valign="top">{{feat_form.name}}</td>
                    <td class="hidden">
                      <span class="var-order hidden">{{feat_form.ORDER}}</span>
                    </td>
                    <td valign="top" style="width: 100%;">{{feat_form.description}}</td>
                    <td valign="top" class="feat-type arg-type">{{feat_form.feattype}}</td>
                    <td valign="top" class="feat-val-exp" style="min-width: 280px;">
                      <div>
                        <!-- option 0: data-dependant variable -->
                        <span class="feat-dvar arg-type">{{feat_form.variable}}</span>
                        <!-- option 1: function/expression -->
                        <span class="feat-expression">
                          {% include "seeker/function_start.html" with func_form=feat_form %}
                        </span>

                        <!-- option 2: upload JSON function -->
                        {% include 'seeker/function_upload.html' with ftype='feat' saveid='research_save_7' %}

                        <!-- Room to provide a summary of the function-calculation -->
                        <div class="feat-expression-summary hidden"></div>
                      </div>
                    </td>
                    <td valign="top" align="center" class="arg-type" style="max-width: 55px;">{{feat_form.include}}</td>
                    <td valign="top" align="center" class="arg-type" style="max-width: 55px;">{{feat_form.DELETE}}</td>
                  </tr>
                {% endfor %}

                <tr id="feature-empty" class="form-row empty-form feat-item row1">
                  <td class="hidden">{{feat_formset.empty_form.id}}</td>
                  <td valign="top" class="counter">__counter__</td>
                  <td valign="top">{{feat_formset.empty_form.name}}</td>
                  <td class="hidden">
                    <span class="var-order hidden">{{new_order_number}}</span>
                  </td>
                  <td valign="top" style="width: 100%;">{{feat_formset.empty_form.description}}</td>
                  <td valign="top" class="feat-type arg-type">{{feat_formset.empty_form.feattype}}</td>
                  <td valign="top" class="feat-val-exp" style="min-width: 280px;">
                    <div>
                      <!-- option 0: data-dependant variable -->
                      <span class="feat-dvar arg-type">{{feat_formset.empty_form.variable}}</span>
                      <!-- option 1: function/expression -->
                      <span class="feat-expression">
                        {% include "seeker/function_start.html" with func_form=feat_formset.empty_form %}
                      </span>

                      <!-- option 2: JSON upload -->
                      <!-- This is only provided after the initial feature definition (name) has been saved -->

                      <!-- Room to provide a summary of the function-calculation -->
                      <div class="feat-expression-summary hidden"></div>
                    </div>
                  </td>
                  <td valign="top" align="center" class="arg-type" style="max-width: 55px;">{{feat_form.include}}</td>
                  <td valign="top" align="center" class="arg-type" style="max-width: 55px;">{{feat_formset.empty_form.DELETE}}</td>
                </tr>
                <tr class="add-row">
                  <td colspan="4">
                    <a href="#"><span class="glyphicon glyphicon-plus">&nbsp;</span>Add another feature</a>
                  </td>
                </tr>

              </tbody>
            </table>
          </fieldset>
        </div>
      </div>


      <!-- Show ERRORS if needed -->
      <div id="research_err" class="error">
        {% for item in error_list %}{{item}}{% endfor %}
      </div>

      <!-- Show the buttons to save, cancel, delete and so forth -->
      <!-- USED TO BE: [include "submit_row.html" with currentowner=form.instance.owner] -->
      <!-- Provide SAVE button (verification is done on the server) -->
      <div class="submit-row">
        <!--
        <span class="research-fetch glyphicon glyphicon-refresh glyphicon-refresh-animate hidden"></span>
          -->
        <span class="save-warning">{% if savedate %}{{savedate}}{% endif %}</span>
        <button type="button" class="btn btn-primary ajaxform"
                id="research_save_7"
                instanceid="{{object_id}}"
                openid="research_container_7" 
                ajaxurl="{% if object_id %}{% url 'research_part_7' object_id %}{% else %}{% url 'research_part_7' %}{% endif %}"
                data="">{% trans 'Save' %}</button>
      </div>
    </div>

    <div id="feat_summary" class="func_summary hidden"></div>
  </form>

</div>
