{% load i18n %}

<form action="" method="post">
    {% csrf_token %}
    <!-- Part 2: One or more search elements -->
    <div id="research_part_2" 
          class="js-inline-formset inline-group"
          data-inline-type="tabular"
          data-inline-formset="{{construction_formset.inline_formset_data}}">

      <div class="explanation up">
        <p><b>Define </b>which words need to be found</p>
        <p>Provide one or more word-based search element(s):</p>
        <ul class="list-unstyled">
          <li><span>&bull; &nbsp;</span>If a search element consists of more words, put them on one line.</li>
          <li><span>&bull; &nbsp;</span>If a search element can be one of a set of words,
          put those words on separate lines.</li>
        </ul>
      </div>

      <!-- WORD search elements -->
      <div id="research_intro-wrd" 
            class="{% if targettype != 'w' %}hidden{% endif %} research-wrd tabular inline-related">
          {{ construction_formset.management_form }}
          <fieldset class="module {{construction_formset.classes}}">
          <table>
            <thead><tr><th>#</th><th>Name</th><th>Word(s)</th>{% if currentowner == user %}<th>DELETE?</th>{% endif %}</tr></thead>
            <tbody>
              {% for wrd_form in construction_formset %}
              <tr class="form-row">
                <td class="hidden">{{wrd_form.id}}</td>
                <td valign="top">{{forloop.counter}}</td>
                <td valign="top">{{wrd_form.name}}</td>
                <td valign="top">{{wrd_form.value}}</td>
                {% if currentowner == user %}
                <td valign="top">{{wrd_form.DELETE}}</td>
                {% endif %}
              </tr>
              {% endfor %}
              {% if currentowner == user %}
              <tr id="arguments-empty" class="form-row empty-form row1">
                  <td class="hidden">{{construction_formset.empty_form.id}}</td>
                  <td valign="top">__counter__</td>
                  <td valign="top">{{construction_formset.empty_form.name}}</td>
                  <td valign="top">{{construction_formset.empty_form.value}}</td>
                  <td valign="top" align="center">{{construction_formset.empty_form.DELETE}}</td>
              </tr>
              <tr class="add-row">
                <td colspan="4">
                  <a href="#"><span class="glyphicon glyphicon-plus">&nbsp;</span>Add another search element option</a>
                </td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </fieldset>
      </div>

      <!-- CONSTITUENT search elements -->
      <div id="research_intro-cns" class="hidden research-cns">
        <p>Provide one or more options for the search construction.</p>
        <p>Each search construction starts out with one constituent, which can be further specified by e.g. children or siblings.</p>
      </div>

      <!-- Show ERRORS if needed -->
      <div id="research_err">
        {% for item in error_list %}
        {{item}}
        {% endfor %}
      </div>

      <!-- Show the buttons to save, cancel, delete and so forth -->
      <!-- USED TO BE: [include "submit_row.html" with currentowner=form.instance.owner] -->
      <!-- Provide SAVE button (verification is done on the server) -->
      <div class="submit-row">
        <button type="button" class="btn btn-primary ajaxform"
                instanceid="{{object_id}}"
                openid="research_container_2" 
                ajaxurl="{% if object_id %}{% url 'research_part_2' object_id %}{% else %}{% url 'research_part_2' %}{% endif %}"
                data="">{% trans 'Save' %}</button>
        <div class="save-warning">{% if savedate %}{{savedate}}{% endif %}</div>
      </div>

    </div>
</form>
