{% load i18n %}
<div class="research_part">

  <!-- Show where we are and provide BACK button(s) -->
  <span>
    <a role="button" class="btn btn-success btn-xs" 
            id="button_part_4_return"
            targeturl="{% if research_id %}{% url 'research_part_4' research_id %}{% else %}{% url 'research_part_4' %}{% endif %}"
            targetid="research_part_4"
            onclick="ru.cesar.seeker.research_wizard(this, '4');"><< All Variables</a>
  </span>
  <span>[42]</span>
  <span class="research-fetch glyphicon glyphicon-refresh glyphicon-refresh-animate hidden"></span>

  <!-- A form to allow specifying and changing variable definitions -->
  <form action="" method="post">
    {% csrf_token %}
    <!-- Part 4-2: One Construction Variable for all available Search Elements -->
    <div id="research_part_42" 
         class="js-inline-formset inline-group panel panel-default"
         data-inline-type="tabular"
         data-inline-formset="{{cvar_formset.inline_formset_data}}">
      <div class="row">
        <div id="research_cvar" class="col-md-11 tabular inline-related">
          {{cvar_formset.management_form}}
          <fieldset class="module {{cvar_formset.classes}}">
            <div class="explanation">
              <p>Specify how variable <code>{{vardef_this.name}}</code> should be calculated for each search element</p>
            </div>
            <table>
              <thead><tr><th>#</th><th>Name</th><th>Type</th><th>Value</th></tr></thead>
              <tbody>
                {% for cvar_form in cvar_formset %}
                  <tr class="form-row cvar-item">
                    <td class="hidden">{{cvar_form.id}}</td>
                    <td class="hidden">{{cvar_form.construction}}</td>
                    <td class="hidden">{{cvar_form.function}}</td>
                    <td valign="top">{{forloop.counter}}</td>
                    <td valign="top">{{cvar_form.instance.construction.name}}</td>
                    <td valign="top" class="cvar-type arg-type">{{cvar_form.type}}</td>
                    <td valign="top" class="cvar-val-exp">
                      <div>
                        <!-- option 0: fixed value -->
                        <span class="cvar-value">{{cvar_form.svalue}}</span>
                        <!-- option 1: function/expression -->
                        <span class="cvar-expression">
                          {% include "seeker/function_start.html" with func_form=cvar_form %}
                        </span>
                        <!-- option 2: global variable -->
                        <span class="cvar-gvar">{{cvar_form.gvar}}</span>
                        <!-- Room to provide a summary of the function-calculation -->
                        <div class="cvar-expression-summary hidden"></div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </fieldset>
        </div>
      </div>


      <!-- Show ERRORS if needed -->
      <div id="research_err">
        {% for item in error_list %}{{item}}{% endfor %}
      </div>

      <!-- Provide SAVE button (verification is done on the server) -->
      <div class="submit-row">
        <button type="button" class="btn btn-primary ajaxform"
                instanceid="{{object_id}}"
                openid="research_container_42" 
                ajaxurl="{% if object_id %}{% url 'research_part_42' object_id %}{% else %}{% url 'research_part_42' %}{% endif %}"
                data="">{% trans 'Save' %}</button>
        <div class="save-warning">{% if savedate %}{{savedate}}{% endif %}</div>
      </div>
    </div>

    <div id="cvar_summary" class="func_summary hidden"></div>
  </form>

</div>

