{% load i18n %}

<div class="research_part">
  <span><a role="button" class="btn btn-default btn-xs" 
            id="button_part_6_return"
            targeturl="{% if research_id %}{% url 'research_part_6' research_id %}{% else %}{% url 'research_part_6' %}{% endif %}"
            targetid="research_part_6"
            onclick="ru.cesar.seeker.research_wizard(this, '6');"><< All Conditions
  </a></span>
  <span><a role="button" class="btn btn-default btn-xs" 
                    id="button_part_42_return"
                    targeturl="{% if vardef_this.id %}{% url 'research_part_42' vardef_this.id %}{% else %}{% url 'research_part_42' %}{% endif %}"
                    targetid="research_part_42"
                    onclick="ru.cesar.seeker.research_wizard(this, '42');"><< All search elements
  </a></span>
  <span>[44]</span>

  <!-- Part 4-4: Starting from one function's ARG, allow building the function pointing to that ARG -->
  <div id="research_part_43" 
      class="js-inline-formset inline-group panel panel-default"
      data-inline-type="tabular"
      data-inline-formset="{{arg_formset.inline_formset_data}}">
    <form action="" method="post">
      {% csrf_token %}

      <div class="row">
        <div id="research_cvar" class="tabular inline-related">
          {{parg_formset.management_form}}
          {{arg_formset.management_form}}
          <fieldset class="module {{arg_formset.classes}}">
            <div class="explanation">
              <p>Specify how to calculate variable <code>{{vardef_this.name}}</code> for search element <code>{{construction_this.name}}</code></p>
            </div>
            <!-- Provide a 'one-level-up' button if this is deeper -->
            {% if cvar_this.function.id != parentForm.instance.id %}
              <div>
                  <button type="button" class="btn btn-success btn-xs"
                          id="button_part_44_up"
                          targeturl ="{% url 'research_part_44' parentForm.instance.parent.id %}"
                          targetid="research_part_44"
                          onclick="ru.cesar.seeker.research_wizard(this, '44');">Up one level</button>
              </div>
            {% endif %}
            <div class="ancestors">
            {% for anc_this in anc_list reversed %}
              <div class="row">
                <div {% if anc_this.level > 0 %}class="col-md-offset-{{anc_this.level}}"{% endif %}>
                <span>{{anc_this.func_id}}</span>
                <span>argument {{anc_this.arg_order}} of {{anc_this.arg_num}}</span>
                <span>{% if anc_this.arg_id %}
                        <a targeturl ="{% url 'research_part_44' anc_this.arg_id %}"
                           targetid ="research_part_44"
                           onclick="ru.cesar.seeker.research_wizard(this, '44');"
                          >{{anc_this.arginfo}}</a>
                      {% else %}
                        <a targeturl ="{% url 'research_part_43' anc_this.cvar_id %}"
                           targetid ="research_part_43"
                           onclick="ru.cesar.seeker.research_wizard(this, '43');"
                          >{{anc_this.arginfo}}</a>
                      {% endif %}
                </span>
                </div>
              </div>
            {% endfor %}
            </div>

            <!-- First form: the parent-form that is only available for viewing (no editing) -->
            <div class="row">
              <div class="{% if parentForm.instance.get_level > 0 %}col-md-offset-{{parentForm.instance.get_level}} {% endif %}
                                       panel panel-default panel-function">
                <h3>{{parentForm.instance.functiondef.title}}</h3>
                <div class="hidden">{{parentForm}}</div>
                <table>
                {% for parg_this in parg_formset %}
                  <tr class="form-row arg-item">
                    <td class="hidden">{{parg_this.argumentdef}}</td>
                    <td class="hidden">{{parg_this.id}}</td>
                    <td valign="bottom" class="arg-intro">
                      <span>{{parg_this.instance.argumentdef.text}}</span>
                    </td>
                    <td valign="bottom">
                      <div  class="arg-value {% if parg_this.instance.id|stringformat:"i" == object_id  %}arg-selected{% endif %}">
                        <div class="arg-type">
                          <span>{{parg_this.instance.get_argtype_display }}</span>
                          {% if parg_this.instance.id|stringformat:"i" == object_id  %}<span class="arg-parent">(see below)</span>{% endif %}
                        </div>
                        <!-- Provide the possible values of the argument, as chosen by argtype -->
                        <div class="arg-val-exp">
                          {% if parg_this.argtype.value == "func" %}{{parg_this.instance.functiondef.name }}
                          {% elif parg_this.argtype.value == "fixed" %}{{parg_this.argval.value|truncatewords:8}}
                          {% elif parg_this.argtype.value == "gvar" %}{{parg_this.gvar.name}}
                          {% elif parg_this.argtype.value == "cvar" %}{{parg_this.cvar.name}}
                          {% elif parg_this.argtype.value == "dvar" %}{{parg_this.dvar.name}}
                          {% elif parg_this.argtype.value == "const" %}constituent
                          {% elif parg_this.argtype.value == "axis" %}axis
                          {% else %}(unknown)
                          {% endif %}
                        </div>
                        <div class="hidden">
                          <span class="hidden">{{parg_this.argtype}}</span>
                          <span class="hidden">{{parg_this.argval}}</span>
                          <span class="hidden">{{parg_this.gvar}}</span>
                          <span class="hidden">{{parg_this.cvar}}</span>
                          <span class="hidden">{{parg_this.dvar}}</span>
                          <span class="hidden">{{parg_this.functiondef}}</span>
                          <span class="hidden">{{parg_this.function}}</span>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
                </table>
              </div>
            </div>

            <!-- Second form: the one that can be edited -->
            <div class="row">
              <!-- This second form is offset 2 columns to the right -->
              <div class="{% if functionForm.instance.get_level > 0 %}col-md-offset-{{functionForm.instance.get_level}} {% endif %}
                          panel panel-default panel-function">
                <h3>{{functionForm.instance.functiondef.title}}</h3>
                <div class="hidden">{{functionForm}}</div>
                <table class="table-fit">
                {% for arg_this in arg_formset %}
                  <tr class="form-row arg-item">
                    <td class="hidden">{{arg_this.argumentdef}}</td>
                    <td class="hidden">{{arg_this.id}}</td>
                    <td valign="bottom" class="arg-intro">{{arg_this.instance.argumentdef.text}}</td>
                    <td valign="bottom">
                      <div  class="arg-value">
                        <div class="arg-type">{{arg_this.argtype}}</div>
                        <!-- Provide the possible values of the argument, as chosen by argtype -->
                        <div class="arg-val-exp">
                          <!-- option 0: fixed value -->
                          <span class="arg-value">{{arg_this.argval}}</span>
                          <!-- option 1: global variable -->
                          <span class="arg-gvar">{{arg_this.gvar}}</span>
                          <!-- option 2: construction variable -->
                          <span class="arg-cvar">{{arg_this.cvar}}</span>
                          <!-- option 3: data-dependant variable -->
                          <span class="arg-dvar">{{arg_this.dvar}}</span>
                          <!-- option 4: function/expression -->
                          <span class="arg-expression">
                            <span class="arg-fundef">{{arg_this.functiondef}}</span>
                            <span class="hidden">{{arg_this.function}}</span>
                            <a class="btn btn-xs btn-default" role="button" 
                                targeturl="{% if arg_this.instance.id %}{% url 'research_part_44' arg_this.instance.id %}{% else %}{% url 'research_part_44' %}{% endif %}"
                                targetid="research_part_44"
                                instanceid="{{arg_this.instance.id}}"
                                onclick="ru.cesar.seeker.research_wizard(this, '44');" >
                              <!-- Check if the FUNCTION pointing to this ARG exists -->
                              {% if arg_this.instance.functionparent.first.id %}
                              {% trans 'edit' %}
                                <span>{{arg_this.instance.functionparent.first.id}}</span>
                              {% else %}
                              {% trans 'create' %}
                              {% endif %}
                            </a>
                          </span>
                          <!-- option 5: constituent -->
                          <span class="arg-cnst">CONSTITUENT-LIST</span>
                          <!-- option 6: axis -->
                          <span class="arg-axis">{{arg_this.relation}}</span>
                          <!-- option 7: search hit -->
                          <span class="arg-search">Search hit</span>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
                </table>
              </div>
            </div>
          </fieldset>
        </div>
      </div>


      <!-- Show ERRORS if needed -->
      <div id="research_err">
        {% for item in error_list %}{{item}}{% endfor %}
      </div>

      <!-- Provide SAVE button (verification is done on the server) -->
      <div class="submit-row">
        <button type="button" class="btn btn-primary ajaxform"
                instanceid="{{object_id}}"
                openid="research_container_44" 
                ajaxurl="{% if object_id %}{% url 'research_part_44' object_id %}{% else %}{% url 'research_part_44' %}{% endif %}"
                data="">{% trans 'Save' %}</button>
        <div class="save-warning">{% if savedate %}{{savedate}}{% endif %}</div>
      </div>
    </form>
  </div>
</div>

