{% load i18n %}
<!-- Specification element builder -->
<tr id="research_spec_{{vardef_number}}_{{forloop.counter}}" class="hidden form-row inline">
  <td colspan="4">
    <div id="research_spec" class="panel panel-default">
      {{function_formset.management_form}}
      <fieldset class="module">
        <p>Specify how variable <code>{{vardef_this.name.value}}</code> 
        should be calculated for search element <code>{{cvar_formset.construction.name}}</code>
        </p>
        <table>
          <thead><tr><th>Line</th><th>Specification element</th><th></th><th>DELETE?</th></tr></thead>
          <tbody>
            {% for function_this in function_formset %}
              <tr class="form-row">
                <td class="hidden">{{function_this.id}}</td>
                <td valign="top">{{forloop.counter }}</td>
                <td valign="top">{{function_this.functiondef}}</td>
                <td valign="top" align="center">{{function_this.DELETE}}</td>
              </tr>
            {% endfor %}
            <tr id="arguments-empty" class="form-row empty-form row1">
              <td class="hidden">{{function_formset.empty_form.id}}</td>
              <td valign="top">__counter__</td>
              <td valign="top">{{function_formset.empty_form.functiondef}}</td>
              <td valign="top" align="center">{{function_formset.empty_form.DELETE}}</td>
            </tr>
            <tr class="add-row">
              <td colspan="4">
                <a href="#"><span class="glyphicon glyphicon-plus">&nbsp;</span>Add another specification element</a>
              </td>
            </tr>
          </tbody>
        </table>
      </fieldset>

    </div>
  </td>
</tr>