{% load i18n %}

<table class="func-view">
  <thead>
    <tr>
      <th colspan="2">
        <span class="func-name">{{function.functiondef.name}}</span> - 
        <span class="func-title">{{function.functiondef.title}}</span>&nbsp;
        <span class="func-link pull-right">
          <a class="btn btn-xs btn-default" role="button" 
             title="edit"
             targeturl="{{function.get_url_edit}}"
             targetid="{{function.get_targetid}}"
             instanceid="{{function.id}}"
             onclick="ru.cesar.seeker.research_wizard(this, '{{function.get_target}}');" >
             <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </a>
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
  {% for arg_this in function.get_arguments %}
    {% if arg_this.argtype == 'func' %}
      <tr>
        <td class="arg-plus"
            onclick="ru.cesar.seeker.argrow_click(this, 'func-inline');">+</td>
        <td class="arg-text">{{arg_this.argumentdef.text}}</td>
      </tr>
      <tr class="func-inline hidden">
        <td style="width: 10px;"></td>
        <td>{% include 'seeker/variable_function.html' with function=arg_this.get_function_child %}</td>
      </tr>
    {% else %}
      <tr><td colspan="2">{{arg_this.argumentdef.text}} <code>{{arg_this.get_view}}</code></td></tr>
    {% endif %}
  {% endfor %}
  </tbody>
</table>
