body {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*
input,
select,
textarea {
    max-width: 280px;
}*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.coll-xml {
  background-color: lightgoldenrodyellow;
  color: darkred;
}

/* My own modifications */
a.list-group-item-info:hover {
  background-color: lightgoldenrodyellow !important;
}
table tbody tr:hover {
  background-color: lightgoldenrodyellow !important;
}

/*
div.inline-group a.add-related {
    visibility: hidden;
} */

.submit-row a.deletelink {
  height: 35px;
}

/* navbar */
.navbar-custom {
    background-color: goldenrod;
    border-color: darkgoldenrod;
}
/* title */
.navbar-custom .navbar-brand {
    color: lightgoldenrodyellow;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: sandybrown;
}
/* link */
.navbar-custom .navbar-nav > li > a {
    color: white;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: lightgoldenrodyellow;
    background-color: darkgoldenrod;
}
.navbar-custom .navbar-nav > .active > a, 
.navbar-custom .navbar-nav > .active > a:hover, 
.navbar-custom .navbar-nav > .active > a:focus {
    color: lightgoldenrodyellow;
    background-color: darkgoldenrod;
}
.navbar-custom .navbar-nav > .open > a, 
.navbar-custom .navbar-nav > .open > a:hover, 
.navbar-custom .navbar-nav > .open > a:focus {
    color: #ffe6d1;
    background-color: #D5D5D5;
}
/* caret */
.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #ecf0f1;
    border-bottom-color: #ecf0f1;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffe6d1;
    border-bottom-color: #ffe6d1;
}
.navbar-custom .navbar-nav > .open > a .caret, 
.navbar-custom .navbar-nav > .open > a:hover .caret, 
.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffe6d1;
    border-bottom-color: #ffe6d1;
}
/* mobile version */
.navbar-custom .navbar-toggle {
    border-color: #d35400;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #d35400;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
@media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffe6d1;
        background-color: #d35400;
    }
}

#header  .navbar-custom  .open .dropdown-menu li  a:link,
#header  .navbar-custom  .open .dropdown-menu li  a:visited {
  color: black !important;
}

/* SPecific for elpash */
.jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}
.jumbotron h1 {
    margin-top: -5px;
    margin-bottom: -5px;
}

body > div > footer {
  height: 18px;
  padding-top: 1px;
  background: darkgoldenrod;
  color: white;
  font-size: x-small;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
body > div > footer a {
  color: #355e3b;
  position: relative;
  z-index: 1000;
}

