{% extends "brief/layout.html" %}
{% load staticfiles %}

{% block content %}

<div class="container body-content">
  <div class="jumbotron" style="max-height: 180px;">
      <h1>
        <span>Project Brief</span>
        <span class="pull-right">
          <a href="{% url 'brief_about' %}" class="btn btn-primary btn-large">Learn more &raquo;</a>
        </span>
      </h1>
      <p class="lead">
        <span>The Project Brief web application facilitates creation and editing of SIL-Bolshoi project briefs.</span>
        
      </p>
  </div>

  <div class="row">
    <div class="col-md-6 bgimg">
      <h2>Current projects</h2>
      <p>There are {{pcount}} projects with {{acount}} answers in their project briefs.</p>
 
    </div>
    <div class="col-md-6">
      <h2>Getting started</h2>
      <p>
        The Project Brief application has been designed by SIL-Bolshoi.
        Users directed to this page are not required to sign up or sign in. 
        They can upload briefs or download them.
      </p>
      <p>
        {% if user.is_authenticated %}
        (See the <b>Extra</b> menu for logout and other options)
        {% endif %}
      </p>
    </div>
  </div>
</div>
{% endblock %}
