<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'brief/content/bootstrap.min.css' %}" />
{% if not exclude_topnav %}
    <link rel="stylesheet" type="text/css" href="{% static 'brief/content/ru-base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'brief/content/ru-form.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'brief/content/ru-widgets.css' %}" />
{% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'brief/content/site.css' %}" />
    <script src="{% static 'brief/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'brief/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'brief/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'brief/scripts/respond.js' %}"></script>
    <script src="{% static 'browser/scripts/cesar.js' %}"></script>
    <script src="{% static 'brief/scripts/cesar.brief.js' %}"></script>
{% block scripts %}{% endblock %}
</head>

<body>
{% load i18n %}

{% if not exclude_topnav %}
{% include 'brief/topnav.html' %}
{% endif %}

{% block breadcrumbs %}{% endblock %}

    <div class="container-fluid body-content">

{% block content %}{% endblock %}

{% if not exclude_topnav %}
        <hr/>
{% endif %}

    </div>
  <div>
        <footer>
            <span>SIL-Bolshoi Project Brief v1.0.0 &copy; 2020-{% now 'Y' %} </span>
        </footer>

  </div>

</body>
</html>
