{% extends "brief/layout.html" %}
{% load staticfiles %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
      <a href="{% url 'brief_home' %}">Home</a>
      &rsaquo; <a href="{% url 'project_details' object_id %}">Project</a>
      &rsaquo; Brief for [{{pname}}]
  </div>
{% endblock %}


{% block content %}

  <section class="container">
    <form action="" method="post" class="form-inline">
      {% csrf_token %}

      <!-- General information row -->
      <div class="row">
        <div class="col-md-6">
          <h2>Project: <span style="color: darkblue;">{{pname}}</span></h2>

        </div>
        <div class="col-md-6">
          <div class="pull-right">
            <!-- Message with last save date/time -->
            <span id="form_save_notice" style="font-size: small;"></span>

            <!-- Save button -->
            <a role="button" class="btn btn-lg btn-success"
               targeturl="{% url 'brief_edit' queForm.instance.id  %}"
               onclick="sil.pbrief.process_brief(this, '#form_save_notice');">Save</a>

            <!-- Images for identification -->
            <img src="{% static  'brief/content/sil_logo.png' %}" style="height: 60px;" />
          </div>
        </div>
      </div>

      <!-- Potentially show errors here -->
      <div class="row">
        <div id="pbrief_err" class="col-md-8 col-md-offset-2" style="color: darkred;">
          <!-- This is where an error message may come-->
        </div>
      </div>
      
      <!-- General row -->
      <div class="row">
        <div class="col-md-12">
          <p class="panel panel-round">
            <b>A project brief should be viewed as a work in progress </b>
            that will be regularly updated and added to over the course of a project, as things change in the project
            and additional data is collected. As such, it is a tool to encourage a process of regular reflection
            on the activities and goals of the project.
          </p>
        </div>
      </div>

      <!-- Tabs for the different pages -->
      <div class="row">
        <!-- THe actual 'pills' -->
        <div class="col-md-2 ">
          <div class="panel tab-pane fade">
            &nbsp;
          </div>
          <div class="panel panel-default-NOT" style="margin: 3px; padding: 3px; background-color: lightgoldenrodyellow;">
            <ul class="nav nav-pills nav-stacked">
              {% for mod in modules %}
                <li class="{% if forloop.first %}active{% endif %}"  >
                  <a href="#pbrief_m_{{mod.module.order}}" data-toggle="tab" 
                     title="{{mod.module.name}}">{{mod.module.order}}. {{mod.module.short}}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <!-- The contents of the different pages -->
        <div class="col-md-10 tab-content">

          {% for mod in modules %}
            <div id="pbrief_m_{{mod.module.order}}" 
                 class="panel tab-pane fade {% if forloop.first %}in active{% endif %}">
              <h4>{{mod.module.name}}</h4>

              {% for sec in mod.sections %}
                <!-- show this section -->
                <div class="panel {% if sec.section.order == 0 %}panel-info{% else %}panel-success{% endif %}">                
                  <div class="panel-heading collapsed" data-toggle="collapse" data-target="#pbrief_m{{mod.module.order}}_s{{sec.section.order}}">
                    <!-- Section name -->
                    <span>{{sec.section.order}}. {{sec.section.name}}...</span>
                    <!-- Number of items still to be done in this section -->
                    <span id="todo_s_{{sec.section.id}}" class="pull-right">{{sec.todo|safe}}</span>
                  </div>
                  <div id="pbrief_m{{mod.module.order}}_s{{sec.section.order}}" class="panel-body collapse">
                    {% if sec.section.intro|length > 0 %}
                      <p>{{sec.section.get_intro_markdown|safe}}</p>
                    {% endif %}

                    <!-- All questions for this section -->
                    <table style="width: 100%;">
                      {% for que in sec.questions %}
                        <tr>
                          <td valign="top" class="tdnowrap">
                            {{que.question.get_order_letter}}
                            {% if que.question.ntype == "alw" %}
                              <span class="obligatory">**</span>
                            {% elif que.question.ntype == "fir" %}
                              <span class="obligatory">*</span>
                            {% endif %}
                          </td>
                          <td>
                            <div>{{que.question.content}}</div>
                            <div>{{que.formfield}}</div>
                          </td>
                        </tr>
                      {% endfor %}
                    </table>
                    <div class="pull-right" style="font-size: x-small; color: darkgreen;">
                      module {{mod.module.order}}, section {{sec.section.order}}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>

    </form>

  </section>
{% endblock %}