body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.center {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.container-large {
    margin-left: 50px;
}
/* Set width on the form input elements since they're 100% wide by default */
/*
input,
select,
textarea {
    max-width: 280px;
}*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.coll-xml {
  background-color: lightgoldenrodyellow;
  color: darkred;
}

/* My own modifications */
a.list-group-item-info:hover {
  background-color: lightgoldenrodyellow !important;
}
table tbody tr:hover {
  background-color: lightgoldenrodyellow !important;
}

/*
div.inline-group a.add-related {
    visibility: hidden;
} */

.submit-row a.deletelink {
  height: 35px;
}

/* Adaptation of the standard panel */
.panel {
    margin-top: 5px;
}

.panel-function {
    margin-right: 10px;
    background-color: lightyellow;
    display: inline-block;
}

/* navbar */
.navbar-custom {
    background-color: goldenrod;
    border-top-color: darkgoldenrod;
}
/* title */
.navbar-custom .navbar-brand {
    color: lightgoldenrodyellow;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: sandybrown;
}
/* link */
.navbar-custom .navbar-nav > li > a {
    color: white;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: lightgoldenrodyellow;
    background-color: darkgoldenrod;
}
.navbar-custom .navbar-nav > .active > a, 
.navbar-custom .navbar-nav > .active > a:hover, 
.navbar-custom .navbar-nav > .active > a:focus {
    color: lightgoldenrodyellow;
    background-color: darkgoldenrod;
}
.navbar-custom .navbar-nav > .open > a, 
.navbar-custom .navbar-nav > .open > a:hover, 
.navbar-custom .navbar-nav > .open > a:focus {
    color: #ffe6d1;
    background-color: #D5D5D5;
}
/* caret */
.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #ecf0f1;
    border-bottom-color: #ecf0f1;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffe6d1;
    border-bottom-color: #ffe6d1;
}
.navbar-custom .navbar-nav > .open > a .caret, 
.navbar-custom .navbar-nav > .open > a:hover .caret, 
.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffe6d1;
    border-bottom-color: #ffe6d1;
}
/* mobile version */
.navbar-custom .navbar-toggle {
    border-color: #d35400;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #d35400;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
@media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffe6d1;
        background-color: #d35400;
    }
}

#header  .navbar-custom  .open .dropdown-menu li  a:link,
#header  .navbar-custom  .open .dropdown-menu li  a:visited {
  color: black !important;
}

/* BASE.css */
p { 
    padding: 0;
    line-height: 140%;
}

/* Extra small pagination */
.pagination {
    margin: 3px 0;
}
.pagination-xsm > li > a,
.pagination-xsm > li > span {
  padding: 2px 4px;     /* Note: this is vertical, horizontal... */
  font-size: 12px;
}
.pagination-xsm > li > a:hover {
  cursor: pointer; 
}

.pagination-xsm > li:first-child > a,
.pagination-xsm > li:first-child > span {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.pagination-xsm > li:last-child > a,
.pagination-xsm > li:last-child > span {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* Bootstrap dashboard */
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/* Text visualisations */
.text-line .line-identifier {
    font-size: x-small;
    color: green;
    position: relative;
    top: -5px;
}
.text-line .line-text a {
    color: black;
}
.text-line .line-text a:hover {
    background-color: lightgoldenrodyellow;
    text-decoration-line: none;
}

.glyphicon-refresh-animate {
    animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/* Tree drawing */
.sent-error {
    background-color: lightgoldenrodyellow;
    color: darkred;
}

svg {
    stroke-width: 1;
}
svg .lithium-conn path:hover {
    stroke: red;
    stroke-width: 2;
}

svg .lithium-shadow rect:hover {
    fill: lightgray;
    stroke: transparent;
    stroke-width: 1;
}
svg .lithium-toggle rect:hover {
    fill: yellow;
    stroke: darkred;
    stroke-width: 1;
}

/* What happens when we hover over a node */
svg g.lithium-node:hover > rect {
    fill: yellow;
    stroke: darkred;
    stroke-width: 2;
}
svg g.lithium-node:hover > text {
    fill: darkgreen;
}
.svg-features {
    background: #b4d4d1 none repeat scroll 0 0;
    border: 1px solid #628f8b;
    display: block;
    font-size: 12px;
    /* left: 2em; */
    /* right: 10px; */
    opacity: 0.9;
    padding: 5px;
    position: absolute;
    text-decoration: none !important;
    /* top: 90px; */
    /* width: 320px; */
    max-width: 600px;
}
.svg-features .attrlabel {
    color: #254643;
    display: inline-block;
    font-weight: bold;
    width: 90px;
}
.svg-features .attrvalue {
    font-family: monospace;
}

/*  cesar.seeker */
.research-part {
  padding: 5px 30px;
}
.glyphicon-plus {
    color: mediumseagreen;
}

.result-part .row {
    margin-right: 20px;
    margin-left: 20px;
}

.seeker-choice {
  border: 1px solid gold;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.seeker-choice td {
  background-color: lightgoldenrodyellow;
}
.seeker-choice td.b {
  font-family: monospace;
  font-weight: bold;
  color: darkblue;
}

.td-toggle-textarea {
    font-family: monospace;
    color: brown;
    border: 1px solid #ddd;
    border-radius: 3px; 
}
.td-textarea {
    font-family: monospace;
}

.arg-type select {
    font-size: 11px;
    height: 25px;
    color: darkblue;
    /* border: none;*/
    background-color: whitesmoke;
}
.arg-type {
    color: darkblue;
}
.arg-val-exp {
    color: darkred;
}

.arg-intro {
    font-size: 15px;
    width: 1%;
    white-space:nowrap;
}
div.arg-value {
    margin: 2px;
    border: 1px solid #ddd;
    border-radius: 3px; 
    background-color: whitesmoke;
}
/*
.arg-item > td {
    width: unset;
    white-space:nowrap;
}*/
.table-fit {
  width: 1px !important;
}
.table-fit td {
  white-space:nowrap !important;
}
.tdnowrap {
  white-space:nowrap !important;
}
div.arg-selected {
    background-color: lightcyan;  
}
.arg-parent {
    color: orange;
}

/* Adjust [row] within forms */
form .row {
    margin-left: 0px;
}
form .panel-heading.row {
    margin-right: 0px;
    margin-left: 0px;
}

/* Colors of jumbo parts */
.jumbo-1 {
  background-color: lavender;
  color: chocolate;
}
.jumbo-2 {
  background-color: chocolate;
  color: lavender;
}
.jumbo-3 {
  background-color: #355e3b;
  color: lavender;
}
.jumbo-4 {
  background-color: #ff2400;
  color: lavender;
}
.jumbo-1:hover {
    color: black;
    background-color: goldenrod;
}
.jumbo-2:hover {
    color: white;
    background-color: goldenrod;
}
.jumbo-3:hover {
    color: white;
    background-color: goldenrod;
}
.jumbo-4:hover {
    color: white;
    background-color: goldenrod;
}
a.jumbotron:visited {color:inherit;}
a.jumbotron:hover {
    text-decoration: none;
    cursor: pointer; cursor: hand;
}
.jumbotron p {
    font-size: 12px;
}

/* Specify how a keyword should be shown */
kw {
  font-family: monospace;
  color: darkblue;
  background-color: whitesmoke;
}

div.explanation {
  background-color: lightyellow;
  border-radius: 5px;
  border: 1px solid gold;
  padding: 4px 4px 4px 4px;
  margin-bottom: 10px;
  margin-top: 10px;
}
div.up {
  margin-top: -10px !important;
}

/* Seeker KWIC */

table.kwic-list a:hover {
    text-decoration: none;
    cursor: pointer;
}
table.kwic-list {
    width: 100%;
}

table td.kwic-loc, table td span.kwic-loc, div span.kwic-loc {
  font-family: monospace;
  color: darkblue;
  /* background-color: lightgray; */
  font-size: small;
  text-align: left;
  white-space:nowrap !important;
}

table td.kwic-pre {
  color: brown;
  font-size: small;
  text-align: right;
  white-space:nowrap !important;
}

table td.kwic-hit {
  color: black;
  font-weight: bold;
  font-size: small;
  text-align: center;
  border: 2px solid white;
  white-space:nowrap !important;
}
td.kwic-hit a {
    color: black;
}
td.kwic-loc a {
    color: darkblue;
}

table td.kwic-fol {
  color: brown;
  font-size: small;
  text-align: left;
  white-space:nowrap !important;
}

.kwic-filter-operator {
    color: brown;
    font-family: monospace;
}

.kwic-filter-field {
    color: darkblue;
    font-family: monospace;
    background-color: whitesmoke;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 90%;
    padding: 2px 4px;
}

.kwic-filter-value {
    color: darkgreen;
    font-family: monospace;
}