body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.center {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.container-large {
    margin-left: 50px;
}
/* Set width on the form input elements since they're 100% wide by default */
/*
input,
select,
textarea {
    max-width: 280px;
}*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.coll-xml {
  background-color: lightgoldenrodyellow;
  color: darkred;
}

/* My own modifications */
a.list-group-item-info:hover {
  background-color: lightgoldenrodyellow !important;
}
table tbody tr:hover {
  background-color: lightgoldenrodyellow !important;
}

/*
div.inline-group a.add-related {
    visibility: hidden;
} */

.submit-row a.deletelink {
  height: 35px;
}

/* Adaptation of the standard panel */
.panel {
    margin-top: 5px;
}

.panel-function {
    margin-right: 10px;
    background-color: lightyellow;
    display: inline-block;
}

/* navbar */
.navbar-custom {
    background-color: goldenrod;
    border-top-color: darkgoldenrod;
}
/* title */
.navbar-custom .navbar-brand {
    color: lightgoldenrodyellow;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: sandybrown;
}
/* link */
.navbar-custom .navbar-nav > li > a {
    color: white;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: lightgoldenrodyellow;
    background-color: darkgoldenrod;
}
.navbar-custom .navbar-nav > .active > a, 
.navbar-custom .navbar-nav > .active > a:hover, 
.navbar-custom .navbar-nav > .active > a:focus {
    color: lightgoldenrodyellow;
    background-color: darkgoldenrod;
}
.navbar-custom .navbar-nav > .open > a, 
.navbar-custom .navbar-nav > .open > a:hover, 
.navbar-custom .navbar-nav > .open > a:focus {
    color: #ffe6d1;
    background-color: #D5D5D5;
}
/* caret */
.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #ecf0f1;
    border-bottom-color: #ecf0f1;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffe6d1;
    border-bottom-color: #ffe6d1;
}
.navbar-custom .navbar-nav > .open > a .caret, 
.navbar-custom .navbar-nav > .open > a:hover .caret, 
.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffe6d1;
    border-bottom-color: #ffe6d1;
}
/* mobile version */
.navbar-custom .navbar-toggle {
    border-color: #d35400;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #d35400;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
@media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffe6d1;
        background-color: #d35400;
    }
}

#header  .navbar-custom  .open .dropdown-menu li  a:link,
#header  .navbar-custom  .open .dropdown-menu li  a:visited {
  color: black !important;
}

/* BASE.css */
p { 
    padding: 0;
    line-height: 140%;
}

/* Extra small pagination */
.pagination {
    margin: 3px 0;
}
.pagination-xsm > li > a,
.pagination-xsm > li > span {
  padding: 2px 4px;     /* Note: this is vertical, horizontal... */
  font-size: 12px;
}
.pagination-xsm > li > a:hover {
  cursor: pointer; 
}

.pagination-xsm > li:first-child > a,
.pagination-xsm > li:first-child > span {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.pagination-xsm > li:last-child > a,
.pagination-xsm > li:last-child > span {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* Bootstrap dashboard */
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/* Text visualisations */
.text-line .line-identifier {
    font-size: x-small;
    color: green;
    position: relative;
    top: -5px;
}
.text-line .line-text a {
    color: black;
}
.text-line .line-text a:hover {
    background-color: lightgoldenrodyellow;
    text-decoration-line: none;
}

.glyphicon-refresh-animate {
    animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/* Tree drawing */
.sent-error {
    background-color: lightgoldenrodyellow;
    color: darkred;
}

svg {
    stroke-width: 1;
}
svg .lithium-conn path:hover {
    stroke: red;
    stroke-width: 2;
}

svg .lithium-shadow rect:hover {
    fill: lightgray;
    stroke: transparent;
    stroke-width: 1;
}
svg .lithium-toggle rect:hover {
    fill: yellow;
    stroke: darkred;
    stroke-width: 1;
}

/* What happens when we hover over a node */
svg g.lithium-node:hover > rect {
    fill: yellow;
    stroke: darkred;
    stroke-width: 2;
}
svg g.lithium-node:hover > text {
    fill: darkgreen;
}
.svg-features {
    background: #b4d4d1 none repeat scroll 0 0;
    border: 1px solid #628f8b;
    display: block;
    font-size: 12px;
    /* left: 2em; */
    /* right: 10px; */
    opacity: 0.9;
    padding: 5px;
    position: absolute;
    text-decoration: none !important;
    /* top: 90px; */
    /* width: 320px; */
    max-width: 600px;
}
.svg-features .attrlabel {
    color: #254643;
    display: inline-block;
    font-weight: bold;
    width: 90px;
}
.svg-features .attrvalue {
    font-family: monospace;
}

.svg-main {
    background: lightgoldenrodyellow none repeat scroll 0 0;
    border: none;
    border-radius: 3px;
    display: block;
    font-size: 12px;
    opacity: 0.9;
    padding: 5px;
    position: absolute;
    text-decoration: none !important;
    max-width: 600px;
}
.svg-main .cellvalue {
    font-family: monospace;
}


/*  cesar.seeker */
.research-part {
  padding: 5px 30px;
}
.glyphicon-plus {
    color: mediumseagreen;
}

.result-part .row {
    margin-right: 20px;
    margin-left: 20px;
}

.seeker-choice {
  border: 1px solid gold;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.seeker-choice td {
  background-color: lightgoldenrodyellow;
}
.seeker-choice td.b {
  font-family: monospace;
  font-weight: bold;
  color: darkblue;
}

.td-toggle-textarea {
    font-family: monospace;
    color: brown;
}
.td-textarea {
    font-family: monospace;
}
.mytextarea {
  font-family: monospace;
  color: darkblue;
}

.arg-type select {
    font-size: 11px;
    height: 25px;
    color: darkblue;
    /* border: none;*/
    background-color: whitesmoke;
}
.arg-type {
    color: darkblue;
}
.arg-val-exp {
    color: darkred;
}

.arg-intro  {
    font-size: 12px;
    width: 1%;
    white-space: nowrap;
}
div.arg-value {
    margin: 2px;
    border: 1px solid #ddd;
    border-radius: 3px; 
    background-color: whitesmoke;
    font-size: 12px !important;
}
/*
.arg-item > td {
    width: unset;
    white-space:nowrap;
}*/
.table-fit {
  width: 1px !important;
}
.table-fit td {
  white-space:nowrap !important;
}
.table-fit select {
  font-size: 11px;
}
.tdnowrap {
  white-space:nowrap !important;
}
div.arg-selected {
    background-color: lightcyan;  
}
.arg-parent {
    color: orange;
}

/* Adjust [row] within forms */
form .row {
    margin-left: 0px;
}
form .panel-heading.row {
    margin-right: 0px;
    margin-left: 0px;
}

/* Colors of jumbo parts */
.jumbo-1 {
  background-color: lavender;
  color: chocolate;
  fill: lavender;
}
.jumbo-1 text {
  fill: goldenrod;
}
.jumbo-2 {
  background-color: chocolate;
  color: lavender;
  fill: chocolate;
}
.jumbo-3 {
  background-color: #355e3b;
  color: lavender;
  fill: #355e3b;
}
.jumbo-4 {
  background-color: #ff2400;
  color: lavender;
  fill: #ff2400;
}
.jumbo-2 text, .jumbo-3 text, .jumbo-4 text {
  fill: lavender;
}

.jumbo-1:hover {
    color: black;
    background-color: goldenrod;
    fill: goldenrod;
    cursor: pointer;
}
.jumbo-1:hover text {
  fill: black;
}
.jumbo-2:hover, .jumbo-3:hover, .jumbo-4:hover {
    color: white;
    background-color: goldenrod;
    fill: goldenrod;
    cursor: pointer;
    /* stroke: white; */
}

/* What to do when the button is disabled */
.jumbo-1:disabled, .jumbo-2:disabled, .jumbo-3:disabled, .jumbo-4:disabled {
    color: lightgray;
    background-color: darkgray;
    fill: darkgray;
    cursor: wait;
}

.main-arrow {
  stroke: black;
  stroke-width: 1px;
}

a.jumbotron:visited {color:inherit;}
a.jumbotron:hover {
    text-decoration: none;
    cursor: pointer; cursor: hand;
}
.jumbotron p {
    font-size: 12px;
}

/* Specify how a keyword should be shown */
kw {
  font-family: monospace;
  color: darkblue;
  background-color: whitesmoke;
}

div.explanation {
  background-color: lightyellow;
  border-radius: 5px;
  border: 1px solid gold;
  padding: 4px 4px 4px 4px;
  margin-bottom: 10px;
  margin-top: 10px;
}
div.up {
  margin-top: -10px !important;
}

/* Seeker KWIC */

table.kwic-list a:hover {
    text-decoration: none;
    cursor: pointer;
}
table.kwic-list {
  width: 100%;
}

table.kwic-list tbody > tr > td {
  padding: 0px;
  border-top-style: none;
}

table td.kwic-loc, table td span.kwic-loc, div span.kwic-loc {
  font-family: monospace;
  color: darkblue;
  /* background-color: lightgray; */
  font-size: small;
  text-align: left;
  white-space:nowrap !important;
  padding: 0px;
  border-top-style: none;
}

table td.kwic-pre {
  color: brown;
  font-size: small;
  text-align: right;
  white-space:nowrap !important;
}

table td.kwic-hit {
  color: black;
  font-weight: bold;
  font-size: small;
  text-align: center;
  border: 2px solid white;
  white-space:nowrap !important;
}
td.kwic-hit a {
    color: black;
}
td.kwic-loc a {
    color: darkblue;
}

table td.kwic-fol {
  color: brown;
  font-size: small;
  text-align: left;
  white-space:nowrap !important;
}

.kwic-filter-operator {
    color: brown;
    font-family: monospace;
}

.kwic-filter-field {
    color: darkblue;
    font-family: monospace;
    background-color: whitesmoke;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 90%;
    padding: 2px 4px;
}

.kwic-filter-value {
    color: darkgreen;
    font-family: monospace;
}

body > div > footer {
  height: 18px;
  padding-top: 4px;
  background: darkgoldenrod;
  color: white;
  font-size: x-small;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
body > div > footer a {
  color: #355e3b;
  position: relative;
  z-index: 1000;
}

.citation {
  color: darkblue;
  font-family: monospace;
  font-size: small;
}

.signup input {
  width: 700px;
}

/* Dropdown submenu extension from: https://bootsnipp.com/snippets/oPWaZ */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.function-arg-type {
  font-family: monospace;
  font-size: small;
  color: darkblue;
}

.function-item {
  /* background-color: lightgoldenrodyellow; /* */
  border-bottom: 1px solid lightgray;
}

table.err-view {
  border: 1px solid white;
  background-color: lightgray;
}
table.err-view td {
  border: 1px solid white;
}
table.err-view th {
  border: 1px solid white;
  background-color: darkgreen;
  color: white;
}

table.func-view {
  border: 1px solid white;
  /* border: none; */
  background-color: lightgray;
  margin-top: 0px;
  vertical-align: top;
  padding: 2px;
}
table.func-view th {
  border: 1px solid white;
  font-size: 12px;
  background-color: darkgreen;
  color: white;
  border-radius: 3px 3px;
  margin-top: 0px;
  margin-left:20px;
  vertical-align: top;
  padding: 2px;
}
table.func-view th.selected {
  background-color: darkorange;
}
table.func-view th.whitecell {
  border: none;
  background-color: white;
  color: black;
}
table.func-view th:hover {
  background-color: green;
}
table.func-view th.selected:hover {
  background-color: orangered;
}
table.func-view th .func-title {
  color: lightgray;
}
table.func-view th > span > .func-name {
  font-family: monospace;
}
table.func-view td .func-name {
  color: black;
  font-family: monospace;
  border-radius: 3px 3px;
}
table.func-view td .func-name:hover {
  background-color: darkgreen;
  color: white;
  font-family: monospace;
  border-radius: 3px 3px;
}
table.func-view td .arg-line {
  color: black;
  font-family: monospace;
  border-radius: 3px 3px;
}
table.func-view th .func-title:hover {
  background-color: darkolivegreen;
}
table.func-oview tbody tr:hover {
  background-color: palegreen !important;
}
table tr.func-inline {
  background-color: lavender;
}
table.func-view td {
  border: 1px solid white;
  font-size: 12px;
  margin-top: 0px;
  vertical-align: top;
  padding: 2px;
}
table.func-view td.vmiddle {
  vertical-align: middle;
}
table.func-view td.whitecell {
  border: none;
  background-color: white;
  color: black;
}
td.function-name {
  color: darkblue;
  font-family: monospace;
}
td.function-name:hover {
  color: black;
  background-color: lightgray;
}
td.arg-plus {
  background-color: lightgray;
  color: darkblue;
  width: 20px;
  text-align: center;
  vertical-align: middle;
}
td.arg-plus:hover {
  background-color: greenyellow;
  color: darkred;
  cursor: pointer;
}
td.arg-pre {
  background-color: lavender;
  color: darkblue;
}
td.arg-pre:hover {
  background-color: lightgoldenrodyellow;
  color: darkblue;
}
td.arg-text {
  background-color: lightgray;
  color: darkblue;
}
td.arg-text:hover {
  background-color: mediumseagreen;
  color: darkred;
  /* cursor: pointer; */
}
td.arg-text .arg-endnode {
  color: black;
  background-color: lightgray;
}

td.prj-text {
  background-color: lightgray;
  color: darkblue;
}
td.prj-text:hover {
  background-color: mediumseagreen;
  color: darkred;
  cursor: pointer; /* */
}
td.prj-text .arg-endnode {
  color: black;
  background-color: lightgray;
}
.prj-group {
  display: none;
}
td.prj-text:hover .prj-group {
  display: inline-flex;
}

select.input-xs {
  height: 20px;
  line-height: 20px;
}
.input-xs {
  height: 20px;
  padding: 2px;
  font-size: 9px;
  border-radius: 3px;
}

table.research-list {
  border: 1px solid white;
  background-color: white;
  margin-top: 0px;
  vertical-align: top;
  padding: 2px;
  /* font-size: 12px; */
}
table.research-list tr, table.research-list td, table.research-list tbody > tr > td  {
  padding: 5px  !important;
  /*height: 10px; */
}
table.research-list tr:hover {
  background-color: lightgray;
  border: 1px solid white;
}

td span.research-item-created {
  font-size: x-small;
  font-family: monospace;
  color: darkblue;
}

td span.research-item-saved {
  font-size: x-small;
  font-family: monospace;
  color: darkgreen;
}

td span.research-item-type {
  font-size: xx-small;
  font-family: monospace;
}

td span.research-item-code {
  font-size: small;
  font-family: monospace;
  color: darkgreen;
}

td span.research-item-purpose {
  width: 100%;
}

span.research-item-copy, span.research-item-name, span.research-item-del {
  min-width: 28px;
  display: inline-block;
}

table.result-list {
  border: 1px solid white;
  background-color: white;
  margin-top: 0px;
  vertical-align: top;
  padding: 2px;
}
table.result-list tr, table.result-list td, table.result-list tbody > tr > td  {
  padding: 5px;
}
table.result-list tr:hover {
  background-color: lightgray;
  border: 1px solid white;
}

.tablefield input {
  width: 100%;
}

table.compact-table, 
table.compact-table tr, 
table.compact-table td,
table.compact-table tbody > tr > td {
  font-size: small;
  border: 1px solid white;
  color: black;
  font-family: monospace;
  background-color: lightgray;
  margin-top: 0px;
  vertical-align: top;
  padding: 2px !important;
}
table.compact-table td:hover {
  background-color: lightblue;
  color: black;
  border: 1px solid white;
}

.newsitem {
  background-color: lightgoldenrodyellow;
  border: outset;
  padding: 5px;
}

.error {
    background-color: lightgoldenrodyellow;
    color: darkred;
    font-family: monospace;
    font-size: smaller;
}