{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<address>
    Director CLST & Head of the Humanities Lab<br />
    Radboud University<br />
    Erasmusplein 1<br />
    NL-6525 HT Nijmegen<br />
    Netherlands<br />
    <abbr title="Phone">P:</abbr>
    +31 24 3611686
</address>

<address>
    <strong>Cesar content:</strong> <a href="mailto:H.vandenHeuvel@let.ru.nl">Henk van den Heuvel</a>
    <strong>Technical support:</strong>   <a href="mailto:e.komen@let.ru.nl">Erwin Komen</a><br />
</address>

{% endblock %}
