<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'browser/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'browser/content/ru-base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'browser/content/ru-form.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'browser/content/ru-widgets.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'browser/content/site.css' %}" />
    <script src="{% static 'browser/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'browser/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'browser/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'browser/scripts/respond.js' %}"></script>
    <script src="{% static 'browser/scripts/crpstudio.svg.js' %}"></script>
    <script src="{% static 'browser/scripts/cesar.js' %}"></script>
{% block scripts %}{% endblock %}
</head>

<body>
{% include 'topnav.html' %}

{% block breadcrumbs %}{% endblock %}

    <div class="container-fluid body-content">

{% block content %}{% endblock %}

        <hr/>
        <footer>
            <p>&copy; {{ year }} - Cesar</p>
        </footer>
    </div>


</body>
</html>
