<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108165780-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-108165780-1');
  </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'browser/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'browser/content/ru-base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'browser/content/ru-form.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'browser/content/ru-widgets.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'browser/content/site.css' %}" />
    <script src="{% static 'browser/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'browser/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'browser/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'browser/scripts/respond.js' %}"></script>
    <script src="{% static 'browser/scripts/html2canvas.js' %}"></script>
    <script src="{% static 'browser/scripts/crpstudio.svg.js' %}"></script>
    <script src="{% static 'browser/scripts/crpstudio.htable.js' %}"></script>
    <script src="{% static 'seeker/scripts/xhr2.js' %}"></script>
    <script src="{% static 'browser/scripts/cesar.js' %}"></script>
    <script src="{% static 'seeker/scripts/cesar.seeker.js' %}"></script>
{% block scripts %}{% endblock %}
</head>

<body>
{% load i18n %}
{% include 'topnav.html' %}

{% block breadcrumbs %}{% endblock %}

    <div class="container-fluid body-content">

{% block content %}{% endblock %}

        <hr/>
    </div>
  <div>
        <footer>
            <span>CESAR v1.1.0 &copy; 2017-2020 </span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span>Sponsored by: <a href="https://www.clariah.nl/projecten/research-pilots/acad/acad">ClariaH-ACAD</a></span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span>Developed at: <a href="http://cls.ru.nl">Radboud University Nijmegen</a></span>
        </footer>

  </div>

{% block endcontent %}{% endblock %}

</body>
</html>
