    <div class="navbar navbar-custom navbar-fixed-top">
        <div class="container" url_home="{% url 'home' %}">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'home' %}" class="navbar-brand">Cesar
                [{% if user.is_authenticated %} {{user.username}} {% else %} (not logged in) {% endif %}]                
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'definitions' %}">Definitions</a></li>

                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                         aria-haspopup="true" aria-expanded="false">Texts<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="{% url 'text_list' %}?part=1&format=0">English: YCOE</a></li>
                          <li><a href="{% url 'text_list' %}?part=4&format=0">English: PPCMBE</a></li>
                          <li><a href="{% url 'text_list' %}?part=14&format=0">Chechen</a></li>
                          <li><a href="{% url 'text_list' %}?part=7&format=1">Dutch: LassyKlein</a></li>
                          <li><a href="{% url 'text_list' %}?part=8&format=1">Dutch: Sonar (all)</a></li>
                          <li><a href="{% url 'text_list' %}?part=9&format=1">Dutch: Sonar (books)</a></li>
                          <li><a href="{% url 'text_list' %}?part=19&format=1">Dutch: Sonar (brochures)</a></li>
                          <li><a href="{% url 'text_list' %}?part=13&format=1">Dutch: Sonar (newsletters)</a></li>
                          <li><a href="{% url 'text_list' %}">All Texts</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="{% url 'part_list' %}">Corpus parts</a></li>
                      </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                         aria-haspopup="true" aria-expanded="false">Tools <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'crpp' %}">Update from /crpp</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'home' %}">Another option</a></li>
                      </ul>
                    </li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                         aria-haspopup="true" aria-expanded="false">Extra... <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                        {% if user.is_authenticated %}
                          <form id="logoutForm" action="{% url 'logout' %}" method="post" class="navbar-right">
                              {% csrf_token %}
                          </form>
                          <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        {% else %}
                          <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Log in</a></li>
                          <li><a href="{% url 'signup' %}">Sign up</a></li>
                        {% endif %}
                      </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
