{% extends "woord/layout.html" %}
{% load staticfiles %}

{% block content %}

<h1>Vragenlijst</h1>

<div class="centerfield" style="text-align:left">
  <p>Hartelijk dank voor je medewerking aan deze vragenlijst.</p>

  <h3>Inleiding</h3>
  <p>Wij vragen je om mee te doen aan een wetenschappelijk onderzoek. 
  Meedoen is vrijwillig. Om mee te doen is je schriftelijke toestemming nodig. 
  Dit is een standaard onderdeel van de procedure bij elk onderzoek dat in de faculteit wordt uitgevoerd. 
  Voordat je beslist of je wilt meedoen aan dit onderzoek, krijg je uitleg over wat het onderzoek inhoudt. 
  Lees deze informatie rustig door en vraag de onderzoeker via e-mail 
  (<a href="mailto:hidde.vangestel@ru.nl">hidde.vangestel@ru.nl</a>) uitleg als je vragen hebt.</p>

  <h3>Beschrijving en doel van het onderzoek</h3>
  <p>Voor ons onderzoek hebben we oordelen van taalspecialisten nodig die duidelijk maken hoe concreet of abstract een woord wordt ervaren. 
  Daarnaast willen we ook weten hoe specifiek je de woorden vindt.</p>

  <h3>Wat wordt er van je verwacht?</h3>
  <p>In dit onderzoek ga je 2000 woorden beoordelen op concreetheid en specificiteit. 
  In totaal geef je dus 4000 oordelen. 
  De ervaring leert dat dat maximaal vijf uur in totaal duurt. 
  Het is de bedoeling dat je niet langer dan één uur achter elkaar met het onderzoek bezig bent. 
  Als je alle woorden beoordeeld hebt, krijg je een vergoeding van €50.</p>

  <h3>Vrijwilligheid</h3>
  <p>Je doet vrijwillig mee aan dit onderzoek. 
  Daarom kun je op elk moment tijdens het onderzoek je deelname stopzetten en je toestemming intrekken. 
  Je hoeft niet te laten weten waarom je stopt. 
  Afzien van of stoppen met deelname heeft geen nadelige gevolgen voor je, behalve dat we de vergoeding dan niet kunnen uitkeren. 
  je kunt tot twee weken na deelname ook je onderzoeksgegevens en persoonsgegevens laten verwijderen. 
  Dit kun je doen door een mail te sturen naar <a href="mailtolettica.hustinx@ru.nl">lettica.hustinx@ru.nl</a></p>

  <h3>Wat gebeurt er met mijn gegevens?</h3>
  <p>De onderzoeksgegevens die we in dit onderzoek verzamelen, zullen door ons gebruikt worden voor datasets, artikelen en presentaties. 
  De anoniem gemaakte onderzoeksgegevens zijn tenminste 10 jaar beschikbaar voor andere wetenschappers. 
  Persoonsgegevens blijven uiteraard vertrouwelijk en worden alleen gebruikt voor de uitbetaling. 
  Als we de woordbeoordelingen met andere onderzoekers delen, kunnen deze dus niet tot jou herleid worden.</p>

  <p>
    We bewaren alle onderzoeks- en persoonsgegevens op beveiligde wijze volgens de richtlijnen van de Radboud Universiteit.
  </p>

  <h3>Vergoeding</h3>
  <p>Als dank voor je deelname ontvangt je van ons <i>€50</i> als je het onderzoek volledig afmaakt.</p>

  <h3>Heb je vragen over het onderzoek?</h3>
  <p>Als je vragen hebt of meer informatie over het onderzoek wilt hebben, 
  kun je contact opnemen via de contactgegevens onderaan deze brief.</p>

  <h3>Ethische toetsing en klachten</h3>
  <p>Dit onderzoek valt onder standaardonderzoeken 
  zoals gedefinieerd door de Ethische Toetsingscommissie Geesteswetenschappen van de Radboud Universiteit.</p>

  <p>Heb je klachten over het onderzoek, dan kun je contact opnemen met de verantwoordelijke onderzoeker 
  of een klacht indienen bij de secretaris van de 
  Ethische Toetsingscommissie Geesteswetenschappen Radboud Universiteit (etc-gw@ru.nl).</p>

  <p>Voor vragen over de verwerking van gegevens in dit onderzoek je contact opnemen met 
  dataofficer@let.ru.nl</p>

  <h3>Toestemmingsverklaring</h3>
  <p>Als je aan dit onderzoek mee wilt doen, vragen we je de toestemmingsverklaring te ondertekenen. 
  Door je schriftelijke toestemming laat je weten dat je de informatie hebt begrepen en instemt met deelname aan het onderzoek.</p>

  <p>Met vriendelijke groet,</p>

  <p>Dr. Lettica Hustinx, lettica.hustinx@ru.nl <br />
  Prof. dr. Wilbert Spooren, wilbert.spooren@ru.nl</p>  


  <h2>TOESTEMMING:</h2> 
  <p>Maak hieronder je keuze.
  Door te klikken op de knop ‘Ik ga akkoord’ laat je weten dat je:
  <ul>
    <li>bovenstaande informatie hebt gelezen</li>
    <li>vrijwillig meedoet aan het onderzoek</li>
    <li>16 jaar of ouder bent</li>
  </ul>
  Als je niet mee wilt doen aan het onderzoek, kun je op de knop ‘Ik wil niet meedoen’  klikken</p>


  <!-- Room for two buttons the user can choose between -->
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <a class="btn btn-success" href="{% url 'woord_explain' %}">Ik ga akkoord</a>
    </div>
    <div class="col-md-2 col-md-offset-1">
      <a class="btn btn-warning" href="{% url 'woord_optout' %}">Ik wil niet meedoen</a>
    </div>
  </div>

  <!-- Allow submitting the form -->
  <form action="{% url 'woord_question' %}" method="post">
    {% csrf_token %}
    <label for="id_username">Vul hier uw gebruikersnaam in</label>
    <input type="text" name="username" id="id_username" placeholder="De gebruikersnaam die u heeft ontvangen..." style="width: 100%;">

    <input type="submit" value="Beginnen">
  </form>

  <!-- For the superuser -->
  {% if is_superuser %}
    <div>&nbsp;</div>
    <a class="btn btn-success" href="{% url 'woord_tools' %}">Superuser Tools</a>
  {% endif %}

</div>

{% endblock %}
