{% extends "woord/layout.html" %}
{% load staticfiles %}

{% block content %}

<h1>Toestemming</h1>

<div class="centerfield" style="text-align:center">
  <p>Deze applicatie kan alleen gebruikt worden wanneer u een gebruikersnaam gekregen heeft.
  </p>

  <p>Het kan zijn dat u <em>wel</em> een gebruikersnaam heeft, maar <em>niet</em> 'ingelogd' bent bij de Cesar-WOORD applicatie. 
  In dat geval kunt u deze knop gebruiken:</p>

  <div>&nbsp;</div>
  <div>
    <a class="btn btn-success" href="{% url 'woord_home' %}">Naar Woord...</a>
  </div>

  <div>&nbsp;</div>
  <div>
    <p>(P.S: wees gerust, de beoordelingen die u al gemaakt heeft worden netjes bewaard, dus u zult <em>niets</em> overnieuw hoeven te doen)</p>
  </div>

</div>

{% endblock %}