{% extends "woord/layout.html" %}
{% load staticfiles %}

{% block content %}

<h1>Helaas</h1>

<div class="centerfield" style="text-align:center">
  <p>Jammer dat u niet meedoet, maar toch bedankt!</p>

  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>
    <a class="btn btn-success" href="{% url 'woord_home' %}">Start</a>
  </p>

  <div>
    <!-- Allow submitting the form -->
    <form action="{% url 'woord_question' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="username" value="{{woordusername}}" />

      {% include 'woord/rechtstreeks.html' %}
      <input type="submit" value="Kies rechtstreeks">
    </form>

    <!-- For the superuser -->
    {% if is_superuser %}
      <div>&nbsp;</div>
      <a class="btn btn-success" href="{% url 'woord_tools' %}">Superuser Tools</a>
    {% endif %}
  </div>

</div>


{% endblock %}

