{% extends "woord/layout.html" %}
{% load staticfiles %}

{% block content %}

<!-- Parameters -->

<!-- Show the overall progress -->
<div class="progressfield">Voortgang: {{percentage|floatformat:2}}% (done {{progr_done}} of {{progr_total}})<div id="progressbar" style="width: 300px;height: 15px;"></div></div>

<!-- Show the next stimuli for this particular user -->
{% for item in lst_stimulus %}
  <div class="centerfield">
    <p class="stimulus">{{item.stimulus|safe}}</p>

    <!-- Hidden: the id of this question-->
    <div class="hidden questionid">{{item.questionid}}</div>

    <span class="dontknow"><input class="knowcheck" type="checkbox"> Ken ik niet</span>
    <div class="sliderfield">
      <!-- The two options -->
      <div class="leftoption">{{item.left}}</div>
      <div class="rightoption">{{item.right}}</div>

      <!-- The actual slider -->
      <div class="slider"></div>
      <div class="slidervalue">50</div>
    </div>
  </div>
  <br />
{% endfor %}

<div id="next_question">
  <form method="post" action="{{question_url}}">
    {% csrf_token %}
    <input type="hidden" name="username" value="{{woordusername}}" />
    <input type="hidden" name="results" id="results" />
    <!-- Allow the user to go to the next question -->
    <input type="submit" targeturl="{{question_url}}" value="Volgende"
            onclick="ru.cesar.woord.volgende(this, '{{woordusername}}');" />

  </form>
</div>

{% endblock %}
