{% extends "woord/layout.html" %}
{% load staticfiles %}

{% block content %}

<h1>Oeps...</h1>

<div class="centerfield" style="text-align:center">
  <p>Er is iets mis gegaan bij het verwerken van uw antwoorden.
  </p>

  <p>Neem contact op met de beheerders van het experiment via:</p>
  <p><a href="mailto:hidde.vangestel@ru.nl">hidde.vangestel@ru.nl</a></p>
  <p>Of: <a href="mailto:wilbert.spooren@ru.nl">Prof. dr. Wilbert Spooren</a></p>

  <div>&nbsp;</div>
  <div>
    <p>(P.S: wees gerust, de beoordelingen die u al gemaakt heeft worden netjes bewaard, dus u zult <em>niets</em> overnieuw hoeven te doen)</p>
  </div>

</div>

{% endblock %}

