{% extends "layout.html" %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
      <a href="{% url 'home' %}">Home</a>
      &rsaquo; <a href="{% url 'text_list' %}">Texts</a>
      &rsaquo; <a href="{% url 'text_lines' pk=sentence.text.pk %}">{{sentence.text.fileName}}</a>
      &rsaquo; {{sentence.identifier}}
  </div>
{% endblock %}

{% block content %}

  <div class="container-large body-content">

    <h3>{% if sentence.text.title %}{{sentence.text.title}}{% else %}(no title){% endif %}</h3>
    <!-- Information on this sentence -->
    <div class="row">
      <div class="col-md-10">
      <span>Sentence number = {{sentence.order}}</span>
      <span> ({{sentence.identifier}})</span>
      <span>
        <a class="btn btn-default btn-xs" id="sent_view_tree" 
            onclick="ru.cesar.view_switch('sentdetails_tree_host', 'sentdetails_htable');"
            title="tree">
          <span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>
        </a>
        <a class="btn btn-default btn-xs" id="sent_view_htable" 
            onclick="ru.cesar.view_switch('sentdetails_htable', 'sentdetails_tree_host');"
            title="table">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        </a>
      </span>
      </div>

      <!-- Download possibilities -->
      <div class="col-md-2" align="right">
        <form id="syntaxform" action="">
          {% csrf_token %}
          <div id="downloadcenter" class="hidden">
            <input name='downloadtype' id='downloadtype' class='form-control' value='' >
            <input name="downloaddata" id="downloaddata" class="hidden form-control" value="" />
          </div>
          <div class="dropdown">
            <button class="btn btn-default btn-sm dropdown-toggle"
                    type="button" id="downloadmenu"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="true">download&nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="downloadmenu">
              <li class="sentdetails_tree">
                <a href="#" id="syntax_download_tree"
                    downloadtype="tree"
                    contentid="#sentdetails_tree"
                    ajaxurl="{% url 'syntax_download' pk=sentence.id %}"
                    onclick="ru.cesar.seeker.post_download(this);" >Tree (svg)</a>
              </li>
              <li class="sentdetails_tree">
                <a href="#" id="syntax_download_tree"
                    downloadtype="tree-png"
                    contentid="#sentdetails_tree"
                    ajaxurl="{% url 'syntax_download' pk=sentence.id %}"
                    onclick="ru.cesar.seeker.post_download(this);" >Tree (PNG)</a>
              </li>
              <!-- <li role="separator" class="divider"></li>-->
              <li class="sentdetails_htable hidden">
                <a href="#" id="syntax_download_htable"
                    downloadtype="htable"
                    contentid="#sentdetails_htable"
                    ajaxurl="{% url 'syntax_download' pk=sentence.id %}"
                    onclick="ru.cesar.seeker.post_download(this);" >Hierarchical table (html)</a>
              </li>
              <li class="sentdetails_htable hidden">
                <a href="#" id="syntax_download_htable"
                    downloadtype="htable-png"
                    contentid="#sentdetails_htable"
                    ajaxurl="{% url 'syntax_download' pk=sentence.id %}"
                    onclick="ru.cesar.seeker.post_download(this);" >Hierarchical table (PNG)</a>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>

    <!-- The sentence as such -->
    <div class="text-line">
        <span class="line-identifier">{{sentence.order}}</span>
        <span class="line-text">{{sentence.sent}}</span>
    </div>
    {% if eng %}
      <div class="text-line-eng">{{eng}}</div>
    {% endif %}

    <!-- The sentence with POS tags and lemma's (if available) -->

    <!-- Tree of this sentence -->
    <div id="sentdetails_err" class="row sent-error"></div>
    <div id="sentdetails_node" class="row hidden">
        {{sent_info.allTs|safe}}
    </div>
    <div id="sentdetails_feats" class="hidden"></div>
    <div id="sentdetails_tree_host" class="row"><div id="sentdetails_tree" style="display: inline-block;"></div></div>
    <div id="sentdetails_htable" class="row hidden"></div>
  </div>
  <!-- Provide interaction to the tree -->
  <script>ru.cesar.start_tree_draw();</script>


{% endblock content %}
