{% extends "browser/layout.html" %}



{% block breadcrumbs %}
  <div class="breadcrumbs">
      <a href="{% url 'home' %}">Home</a>
      &rsaquo; <a href="{% url 'text_list' %}">Texts</a>
      &rsaquo; <a href="{% url 'text_lines' pk=sentence.text.pk %}">{{sentence.text.fileName}}</a>
      &rsaquo; {{sentence.identifier}}
  </div>
{% endblock %}

{% block content %}

  <div class="container-large body-content">

    <h3>{% if sentence.text.title %}{{sentence.text.title}}{% else %}(no title){% endif %}</h3>
    <!-- Information on this sentence -->
    <div class="row"><span>Sentence number = {{sentence.order}}</span><span> ({{sentence.identifier}})</span></div>

    <!-- The sentence as such -->
    <div class="text-line">
        <span class="line-identifier">{{sentence.order}}</span>
        <span class="line-text">{{sentence.sent}}</span>
    </div>

    <!-- The sentence with POS tags and lemma's (if available) -->

    <!-- Tree of this sentence -->
    <div id="sentdetails_err" class="row sent-error"></div>
    <div id="sentdetails_node" class="row hidden">
        {{sent_info.allT}}
    </div>
    <div id="sentdetails_tree" class="row"></div>
    <div id="sentdetails_svg" class="row">
        <!-- 
        <p>Boom versie #2:</p>
        {{sent_info.allG|safe}}
            -->
    </div>
  </div>
  <!-- Provide interaction to the tree -->
  <script>ru.cesar.start_tree_draw();</script>


{% endblock content %}
