{% extends "browser/layout.html" %}

{% block content %}

  <div class="container body-content">
    <div class="panel panel-default">
      <form name="partsearch" id="partsearch" action="" method="get"  
                onsubmit="return do_search('#id_submit_button', 'metavar', 'simple');" >
        <!-- EK: A sort-order specification is in a hidden form field, which is filled by JS:do_sort_column() -->
        <div class="hidden">
          <input name='sortOrder' class='form-control' value='metavar' >
          <input id="submit_type" name='submit_type' class='form-control' value='simple'>
        </div>
      </form>
    </div>

    {% if object_list %}
      <h3>Text overview</h3>
      {% if is_paginated %}
      <div class="row">
        <div class="col-sm-4"><span>Found: </span><span>{{entrycount}}</span></div>
        <div class="col-sm-8">
        <span class="step-links">

        {% include 'browser/pagination.html' %}

        </span>
        </div>
      </div>
      {% endif %}
      <!-- The contents as a table -->
      <table class="table table-hover">
        <thead><tr><th class="hidden">id</th><th>Part</th><th>File</th><th>Lines</th><th>Genre</th><th>Title</th></tr></thead>
        <tbody>
        {% for item in text_list %}
          <tr class="part-item">
            <td class="hidden">{{item.id}}</td>
            <td><span class="part-item-name"><a href="{% url 'part_list' %}?part={{item.part.id}}">{{item.part.name}}</a></span></td>
            <td><span class="part-item-corp"><a href="{% url 'text_lines' pk=item.pk %}">{{item.fileName}}</a></span></td>
            <td><span class="part-item-corp">{{item.lines}}</span></td>
            <td><span class="part-item-corp">{{item.genre}}</span></td>
            <td>
                <span class="part-item-desc">{{item.title}}</span>
                <span><a class="btn btn-warning btn-xs" href="{% url 'text_view' pk=item.pk %}/?last_url={{url}}">Edit</a></span>
              </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No texts are available.</p>
    {% endif %}

    {% if is_paginated %}
    <div class="pagination">
      <span class="step-links">

      {% include 'browser/pagination.html' %}

      </span>
    </div>
    {% endif %}
  </div>


{% endblock content %}
