{% extends "browser/layout.html" %}

{% block content %}

  <div class="container body-content">
    <div class="panel panel-default">
      <form name="partsearch" id="partsearch" action="" method="get"  
                onsubmit="return do_search('#id_submit_button', 'metavar', 'simple');" >
        <!-- EK: A sort-order specification is in a hidden form field, which is filled by JS:do_sort_column() -->
        <div class="hidden">
          <input name='sortOrder' class='form-control' value='metavar' >
          <input id="submit_type" name='submit_type' class='form-control' value='simple'>
        </div>
      </form>
    </div>

    {% if object_list %}
      <h3>Corpus part overview</h3>
      <div class="row">
        <div class="col-sm-4"><span>Found: </span><span>{{entrycount}}</span></div>
        <div class="col-sm-8">
        <span class="step-links">

        {% include 'browser/pagination.html' %}

        </span>
        </div>
      </div>
      <!-- The contents as a table -->
      <table class="table table-hover">
        <thead><tr><th class="hidden">id</th><th>Part</th><th>Corpus</th><th>Description</th></tr></thead>
        <tbody>
        {% for item in part_list %}
          <tr class="part-item">
            <td class="hidden">{{item.id}}</td>
            <td><span class="part-item-name"><a href="{% url 'text_list' %}?part={{item.id}}">{{item.name}}</a></span></td>
            <td><span class="part-item-corp">{{item.corpus}}</span></td>
            <td>
                <span class="part-item-desc">{{item.descr}}</span>
                <span><a class="btn btn-primary" href="{% url 'part_edit' %}?part={{item.id}}">Edit</a></span>
              </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No corpus parts are available.</p>
    {% endif %}

    <div class="pagination">
      <span class="step-links">

      {% include 'browser/pagination.html' %}

      </span>
    </div>
  </div>


{% endblock content %}
