<div>
    <table class="compact-table">
      <tr>
        <td>Bestand</td><td>{{fileName}}</td>
        <td>Titel</td><td>{{title}}</td>
      </tr>
      <tr>
        <td>Formaat</td><td>{{format}}</td>
        <td>Datum</td><td>{{date}}</td>
      </tr>
      <tr>
        <td>Onderdeel van</td><td>{{part}}</td>
        <td>Auteur</td><td>{{author}}</td>
      </tr>
      <tr>
        <td>Aantal regels</td><td>{{lines}}</td>
        <td>Genre</td><td>{{genre}}</td>
      </tr>
      <tr>
        <td>Aantal woorden</td><td>{{words}}</td>
        <td>Subtype</td><td>{{subtype}}</td>
      </tr>
    </table>
</div>