body
{
	background-color: aliceblue;  
}

body, button, input
{
    text-align: center;
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
}

button
{
    margin-top: 40px;
}

.centerfield
{
    margin: auto;
    width: 850px;
    text-align: center;
	margin-top: 30px;
}

.stimulus
{
	font-size:16px;
	font-weight:bold;
}

.slidervalue
{
	margin-top: 10px
}

.slider
{
    margin: auto;
    width: 440px;
}

.leftoption
{
    float: left;
	width: 180px;
}

.rightoption
{
    float:right;
	width: 180px;
}

.dontknow
{
	top: -30px;
	position: relative;
	left: 300px;
}

.progressfield
{
	margin-left: auto;
	width: 300px;
}

.usernamefield
{
	margin-right: auto;
	width: 300px;
}

.glyphicon-refresh-animate {
    animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.tdnowrap {
    white-space:nowrap !important;
}

.next-button {
    padding-bottom: 50px;
}

.warning {
    background-color: yellow; border: 1px solid darkred; text-align: center; margin: 5px;
}

.rechtstreeks {
    width: 350px; margin: auto; padding: 10px; background-color: yellow;
}
