{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    {% include 'breadcrumb_list.html' %}
  </div>
{% endblock %}

{% block scripts %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'basic/content/basic.css' %}" />
    <script src="{% static 'basic/scripts/basic.js' %}"></script>
  {% if has_select2 %}{{listForm.media.css}}{% endif %}
{% endblock %}

{% block content %}

  <div>

    {% if authenticated %}
      <!-- Upper part of the basic list interface -->

      <div id="basiclist_top" class="container-small" >

        <!-- Allow access to interface parts that are normally hidden -->
        <div  class="panel panel-none">

          <div class="row">
            <div class="col-md-2 col-md-offset-9 text-right" style="margin-top: 5px;">
              {% if downloads %}
                <a id="downloadmenu" role="button" class="btn jumbo-1 btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" 
                        onclick="" >
                  Download<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="downloadmenu">
                  {% for ditem in downloads %}
                    {% if ditem.label %}
                      <li><a href="#" downloadtype="{{ditem.dtype}}" ajaxurl="{{ditem.url}}" onclick="ru.basic.post_download(this);">{{ditem.label}}</a></li>
                    {% else %}
                      <li class="divider" role="separator"></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
            <div class="col-md-1 text-right">
              {% if custombuttons and is_app_editor %}
                {% for citem in custombuttons %}
                  <a class="btn btn-xs jumbo-1" data-toggle="collapse" data-target="#tab_{{citem.name}}" 
                     role="button" title="{{citem.title}}">
                    <span class="glyphicon glyphicon-{{citem.icon}}"></span>
                  </a>
                {% endfor %}
              {% endif %}
              {% if uploads and is_app_uploader %}
                <a id="uploadmenu" role="button" title="Importing..." class="btn jumbo-1 btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" onclick="">
                  <span class="glyphicon glyphicon-upload"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="uploadmenu">
                  {% for uitem in uploads %}
                    {% if uitem.label %}
                      <li><a href="#" title="upload {{uitem.title}}" targetid="import_{{uitem.title}}" onclick="ru.basic.toggle_click(this);">{{uitem.label}}</a></li>
                    {% else %}
                      <li class="divider" role="separator"></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}
              {% if filters %}
                <span class="">
                  <!-- NEW: use filtering instead of 'searching' -->
                  <a class="btn btn-xs jumbo-4" data-toggle="collapse" data-target="#tab_filter" role="button" title="Define your filter(s)...">
                    <span class="glyphicon glyphicon-filter"></span>
                  </a>

                </span>
              {% endif %}
            </div>
          </div>
        </div>

        <form  id="basiclist_filter" method='post' action="{{basic_list}}" >
          {% csrf_token %}
          <!-- entrypoint for search_paged_start -->
          <div class="hidden search_paged_start">
            <input name="page" type="text" />
          </div>

          <!-- entrypoint for search_ordered_start -->
          <div class="hidden search_ordered_start">
            <input name="o" type="text" value="{{sortOrder}}" />
          </div>

          {% if downloads %}
            <!-- Entrypoint for downloading -->
            <div id="downloadcenter" class="hidden">
              <input name='downloadtype' id='downloadtype' class='form-control' value='' >
            </div>
          {% endif %}

          <!-- basket switched on or not -->
          <div class="hidden">
            <input name="usebasket" type="text" value="{{usebasket}}" />
          </div>

          <!-- Filter tab -->
          {% if filters %}
            <div class="inert {% if has_filter %}in{% else %}collapse{% endif %}" id="tab_filter">
              <div class="panel panel-default">
                <!-- Filter interface -->
                <div class="row" id="filter_badges">
                  <div class="col-md-2">
                    <h4>Selected filters</h4>
                  </div>
                  <div class="col-md-10">
                    <!-- Main filters -->
                    <div>
                      <h4>
                      {% for filter in filters %}
                        {% if not filter.head_id or filter.head_id == "none" %}
                          <span class="badge filter {% if filter.enabled %} jumbo-3 on {% else %} jumbo-1 {% endif %} " targetid="{{filter.id}}" >{{filter.name}}</span>
                        {% endif %}
                      {% endfor %}
                      </h4>
                    </div>
                  </div>
                </div>
              
                <div class="row" id="basiclist_filter_specs">
                  <!-- The column with the different filter sections -->
                  <div class="col-md-10">
                    <div class="panel panel-default ">

                      <!-- Intro -->
                      <div><h5>{{titlesg}} filters: </h5></div>

                      <!-- Show the different filters in the list -->
                      {% for filter in filters %}
                        {% if not filter.head_id  %}
                          <div id="{{filter.id}}" class="{% if not filter.keyS.value and not filter.keyList.value %}hidden{% endif %}">
                            <table style="width: 100%;">
                              <tr class="form-row">
                                <td style="min-width: 130px;" valign="top">{{filter.name}}</td>
                                <td style="width: 100%;">
                                  {% if filter.dbfield %}<span class="keyword-key hidden filter-dbfield">{{filter.dbfield}}</span>{% endif %}
                                  {% if filter.keyS %}
                                    <span class="filter-keys">{{filter.keyS}}</span>
                                    {% if filter.has_keylist %}
                                      <span> or select: </span>
                                      <span class="filter-keylist">{{filter.keyList}}</span>
                                    {% endif %}
                                  {% elif filter.has_keylist %}
                                      <span class="filter-keylist">{{filter.keyList}}</span>
                                  {% endif %}
                                </td>
                              </tr>
                            </table>
                          </div>
                        {% endif %}
                      {% endfor %}


                    </div>
                  </div>

                  <!-- Basket operation buttons -->
                  {% if entrycount > 0 and basket_update %}
                    <div id="basket_buttons" class="col-md-2 text-right">
                      {% include 'seeker/basket_buttons.html' %}
                    </div>
                  {% endif %}

                </div>

                <!-- Process other filter sections - if these are available -->
                {% for section in fsections  %}
                  {% if section.name and section.name != "other"  %}
                    <!-- Row with buttons and stuff for this filtersection -->
                    <div id="filter_{{section.name}}" class="row {% if not section.has_value %}hidden{% endif %}" targetid="filter_{{section.name}}_specs">

                      <!-- Sub filters for this section -->
                      <div class="col-md-10 col-sm-offset-2">

                        <!-- Sub filters from this section -->
                        <div>
                          {% for filter in filters %}
                            {% if filter.head_id == "filter_"|add:section.name %}
                              <span class="badge filter {% if filter.enabled %} jumbo-2 on {% else %} jumbo-1 {% endif %} " targetid="{{filter.id}}" >{{filter.name}}</span>
                            {% endif %}
                          {% endfor %}
                        </div>

                      </div>

                    </div>

                    <!-- Row with the fields for this section -->
                    <div id="filter_{{section.name}}_specs" class="row">
                      <div class="col-md-10">
                        <div class="panel panel-default ">

                          <!-- Intro -->
                          <div><h5>{{section.name|title}} filters: </h5></div>

                          <!-- Show the different filters in the list -->
                          {% for filter in filters %}
                            {% if filter.head_id == "filter_"|add:section.name   %}
                              <div id="{{filter.id}}" class="{% if not filter.keyS.value and not filter.keyList.value %}hidden{% endif %}">
                                <table style="width: 100%;">
                                  <tr class="form-row">
                                    <td style="min-width: 130px;" valign="top">{{filter.name}}</td>
                                    <td style="width: 100%;">
                                      {% if filter.dbfield %}<span class="keyword-key hidden">{{filter.dbfield}}</span>{% endif %}
                                      {% if filter.keyS %}
                                        <span>{{filter.keyS}}</span>
                                        {% if filter.keyList %}
                                          <span> or select: </span>
                                          <span>{{filter.keyList}}</span>
                                        {% endif %}
                                      {% elif filter.keyList %}
                                          <span>{{filter.keyList}}</span>
                                      {% endif %}
                                    </td>
                                  </tr>
                                </table>
                              </div>
                            {% endif %}
                          {% endfor %}


                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}

                <!-- Row with buttons-->
                <div class="row">
                  <div class="col-md-2 col-md-offset-10 text-right">
                    <!-- Room to reset the search criteria -->
                    <span>
                      <a role="button" class="btn btn-sm jumbo-1" title="Clear search criteria" onclick="ru.basic.search_clear(this);" >Clear</a>
                    </span>
                    <!-- Submit the search form -->
                    <span>
                      <a role="button" class="btn btn-sm jumbo-3" title="Start searching..." onclick="ru.basic.search_start(this);">Search</a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}

        </form>

        <!-- Custom button processing -->
        {% if custombuttons and is_app_editor %}
          {% for citem in custombuttons %}
            <div id="tab_{{citem.name}}" class="inert collapse">
              {% if "template_name" in citem %}
                {% include citem.template_name %}
              {% endif %}
            </div>
          {% endfor %}
        {% endif %}


        <!-- Allow importing list items from Excel -->
        {% if is_app_uploader and uploads %}
          {% for uitem in uploads %}
            <div id="import_{{uitem.title}}" class="row hidden container">
              <form action="{{uitem.url}}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Room for the filename to appear -->
                <div class="col-md-6 form-group" id="{{uitem.title}}-import_info"
                     targetid="{{uitem.title}}_data_import"
                     targeturl="{{uitem.url}}">
                  <div class="input-group">
                    <span>{{uitem.msg}}</span>
                    <span class="input-group-btn">
                      <span class="btn btn-default btn-xs btn-file">
                        Browse...
                        <input id="id_{{uitem.title}}-file_source" name="{{uitem.title}}-file_source" required="" type="file" oninput="ru.basic.import_data('{{uitem.title}}');" />
                      </span>
                    </span>
                  </div>
            
                </div>
                <!-- Progress of upload indicator -->
                <div class="col-md-6">
                  <progress class="hidden" style="width:100%;" id="{{uitem.title}}-import_progress" value="0" min="0" max="100"></progress>
                </div>
                <!-- Any error reporting -->
                <div id="{{uitem.title}}-import_error"></div>
              </form>

              <!-- Import information -->
              <div id="{{uitem.title}}_data_import" class="project-part hidden"></div>
            </div>
          {% endfor %}
        {% endif %}

        <!-- List tab -->
        <div class="" id="tab_list">
          <div class="panel panel-default">

            <h3>
              <span>{{title|title}}</span>
              {% if is_app_editor and new_button %}
                <span id="add_{{basic_name}}" class="pull-right">
                  {% csrf_token %}
                  <a class="btn btn-xs jumbo-3" role="button" 
                      onclick="document.getElementById('create_new_{{basic_name}}').submit();" >
                    <span class="glyphicon glyphicon-plus"></span>{{add_text}} {{titlesg}}
                  </a>
                </span>
              {% elif user_button %}
                <span class="pull-right">{{user_button|safe}}</span>
              {% endif %}
            </h3>

            <!-- Room to have the form-link to create a new list-item -->
            <div class="hidden" >
              <form action="{{basic_add}}" method="post" id="create_new_{{basic_name}}">
                {% csrf_token %}
              </form>
            </div>

            {% if object_list %}
              <!-- Top pagination -->
              <div class="row">
                  <div class="col-sm-4"><span>Total: </span><span>{{entrycount}}</span></div>
                  <div class="col-sm-8">
                  <span class="step-links pull-right">

                  {% include 'paginationpost.html' %}

                  </span>
                  </div>
              </div>

              <!-- Table that contains a list of the basic list items -->
              <div class="row">
                <div class="col-md-12">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="hidden">id</th>
                        {% for hd in order_heads %}
                          <th class="sortable" scope="col" {% if hd.title %}title="{{hd.title}}"{% endif %}>
                            <div class="text">
                              {% if hd.order == "" %}{{hd.name}}
                              {% else %}
                              <a class="clickable {% if hd.used %}ordered{% endif %}" onclick="ru.basic.search_ordered_start('{{hd.order}}');">{{hd.name}}</a>
                              {% endif %}
                            </div>
                          </th>
                        {% endfor %}
                      </tr>
                    </thead>
                    <tbody>

                    <!-- New method: use result_list -->
                    {% for result in result_list %}
                      <tr class="dict-entry clickable">
                        <!-- put the ID field here-->
                        <td class="hidden">{{result.id}}</td>

                        <!-- walk the other fields -->
                        {% for field in result.fields %}
                          <td class="{{field.classes}}" style="{{field.styles}}" {% if field.title %}title="{{field.title}}"{% endif %} {% if field.align %}align="{{field.align}}"{% endif %}>
                            {% if field.linkdetails %}
                              <a href="{% url basic_details result.id %}" class="nostyle" title="Show details of this {{titlesg}}">
                                {% if field.value %}{{field.value|safe}}{% else %}<i>(unidentified)</i>{% endif %}
                              </a>
                            {% else %}
                              {{field.value|safe}}
                            {% endif %}
                            {% if field.main %}
                              <!-- Provide a standard possibility to do delete confirmation *without* a popup form -->
                              {% if delete_line and is_app_editor %}
                                <div class="delete-confirm hidden selected">
                                  <form>
                                    {% csrf_token %}
                                    <span>Are you sure you would like to delete this {{titlesg}}?</span>
                                    <span>
                                      <!-- The button to cancel deletion -->
                                      <a title="Cancel deletion" class="btn btn-xs jumbo-1"
                                          onclick="ru.basic.delete_cancel(this);">Cancel</a>
                                      <!-- The actual delete button-->
                                      <a mode="delete" title="Delete this {{titlesg}}" class="btn btn-xs jumbo-3"
                                          afterurl="{{basic_list}}"
                                          targetid="{{basic_name}}_edit"
                                          targeturl="{% if result.id %}{% url basic_edit result.id %}{% endif %}">
                                        Delete
                                      </a>
                                    </span>
                                  </form>
                                </div>
                              {% endif %}
                            {% elif field.delete and is_app_editor %}
                                <!-- Put the delete button completely to the right-->
                                <a mode="skip" class="view-mode btn btn-xs jumbo-1 pull-right"
                                    onclick="ru.basic.delete_confirm(this);">
                                  <span class="glyphicon glyphicon-remove" title="Delete this {{titlesg}}"></span>
                                </a>
                            {% endif %}
                          </td>
                        {% endfor %}
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>

              <!-- Bottom pagination -->
              <div class="pagination">
                  <span class="step-links">

                  {% include 'paginationpost.html' %}

                  </span>
              </div>

            {% else %}
              <p>No {{title}} have been found.</p>
            {% endif %}
          </div>
        </div>

      </div>

    
    {% else %}
      <div class="explanation">
        <p>Dear user, you are <b>not</b> logged in.</p>
        <p>Unfortunately this means that you will not be able to perform any searches.</p>
        <p>Should you want to work with this application, here are your options:
          <ul>
            <li><a class="btn btn-info btn-xs" href="{% url 'login' %}">Login</a> - if you already have an account</li> 
            <li><a class="btn btn-warning btn-xs" href="{% url 'signup' %}">Sign up</a> - if you don't have an account yet</li>
          </ul>
        </p>
      </div>
    {% endif %}
    
  </div>

<script>
  ru.basic.init_events();
</script>

{% endblock content %}

{% block endcontent %} 
  {% if has_select2 %}{{listForm.media.js }}{% endif %}
{% endblock %}
